[Unit]
Description=Polemarch Service HTTP Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/opt/polemarch/bin/uwsgi /opt/polemarch/lib/python2.7/site-packages/polemarch/web.ini
ExecReload=/opt/polemarch/bin/uwsgi --reload /var/run/polemarch/web.pid
ExecStop=/opt/polemarch/bin/uwsgi --stop /var/run/polemarch/web.pid
PIDFile=/var/run/polemarch/web.pid
User=polemarch
Group=polemarch
KillSignal=SIGCONT
Restart=always

[Install]
WantedBy=multi-user.target
