[Unit]
Description=Polemarch worker Service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/opt/polemarch/bin/celery multi start worker -A polemarch.wapp:app \
                                  -B -f /var/log/polemarch/worker.log -l WARNING \
                                  --pidfile=/var/run/polemarch/worker.pid \
                                  --schedule=/var/run/polemarch/beat-schedule
ExecReload=/opt/polemarch/bin/celery multi restart worker -A polemarch.wapp:app \
                                   -B -f /var/log/polemarch/worker.log -l WARNING \
                                   --pidfile=/var/run/polemarch/worker.pid \
                                   --schedule=/var/run/polemarch/beat-schedule
ExecStop=/opt/polemarch/bin/celery multi stopwait worker -A polemarch.wapp:app \
                                 -B -f /var/log/polemarch/worker.log -l WARNING \
                                 --pidfile=/var/run/polemarch/worker.pid \
                                 --schedule=/var/run/polemarch/beat-schedule
PIDFile=/var/run/polemarch/worker.pid
User=polemarch
Group=polemarch
KillSignal=SIGCONT
Restart=always

[Install]
WantedBy=multi-user.target
