[Unit]
Description=Polemarch Service HTTP Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/opt/polemarch/bin/polemarchctl web
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID
WorkingDirectory=/opt/polemarch
User=polemarch
Group=polemarch
KillSignal=SIGTERM
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
