[run]
source = polemarch
parallel = True
concurrency =
    thread
    multiprocessing
omit =
    .tox/*
    */main/management/daemon.py
    */*/migrations/*
    */main/wsgi.py
    */wsgi.py
    */manage.py
    *ihsctl
    *setup.py
    test.py
    upload_big.py
    polemarch/__init__.py
    polemarch/__main__.py
    polemarch/wapp.py
    polemarch/main/management/commands/webserver.py
    polemarch/main/tests/repos.py
    polemarch/main/tests/tasks.py
    polemarch/main/tests/project.py
    polemarch/main/tests/ansible.py
    polemarch/api/v1/*
    *celery_beat_scheduler.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    nocv
    noce
