[run]
omit =
    .tox/*
    */main/management/daemon.py
    */*/migrations/*
    */main/wsgi.py
    */manage.py
    *ihsctl
    *setup.py
    test.py
    upload_big.py
    polemarch/__init__.py
    polemarch/__main__.py
    polemarch/main/management/commands/webserver.py
    polemarch/main/tests/repos.py
    *celery_beat_scheduler.py

[report]
exclude_lines =
    pragma: no cover
    nocv
