*.pyc
*.c
*.retry
__pycache__
.tox
.coverage
coverage.xml
htmlcov
*/db.polemarch.sqlite3
build
*egg-info
dist
env
# polemarch/polemarch/static
*.log
*.pid
*nbproject
pylint_*
index.html
.idea/*
/polemarch.egg-info/
/polemarch/projects/
doc/_build
test_screenshot.png
.coverage.*
