include polemarch/web.ini setup.cfg
include README.rst LICENSE LICENSE_NAME
include polemarch/main/settings.ini
include polemarch/main/tests/facts_stdout
include polemarch/main/tests/stdout.txt
include polemarch/main/tests/raw_stdout.txt
include polemarch/main/tests/test_repo.tar.gz
include requirements.txt
include requirements-git.txt
include requirements-test.txt
include requirements-doc.txt
recursive-include polemarch/*.c *
recursive-include polemarch/doc/html *
recursive-include polemarch/*.so *
recursive-include polemarch/static *
recursive-include polemarch/*/templates *
recursive-include polemarch/templates *