include polemarch/web.ini setup.cfg
include README.rst LICENSE LICENSE_NAME
include polemarch/settings.ini
include requirements.txt
include requirements-git.txt
include requirements-test.txt
include requirements-doc.txt
recursive-include polemarch/*.c *
recursive-include polemarch/doc/html *
recursive-include polemarch/*.so *
recursive-include polemarch/static *
recursive-include polemarch/*/templates *
recursive-include polemarch/templates *