# Main
vstutils==1.0.0
celery>4.0.3,<=4.1.0
kombu==4.1.0
six
pyyaml
sqlalchemy
django-docs==0.2.1
python-ldap==3.0.0
docutils==0.14
markdown2==2.3.5

# API
django-celery-beat==1.1.1
jsonfield==2.0.2
uWSGI==2.0.17

# Repo types
gitpython==2.1.9

# Hooks
requests==2.18.4

# additional DB and cache connectors
PyMySQL
python-memcached

# Ansible required packages
ansible>=2.1, <=2.5.3
paramiko<=2.4.0
pywinrm[kerberos]==0.3.0
