{% extends "base.html" %}
 
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      
      <!-- Main row -->
      <div class="row">
        
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class=" col-xs-12 connectedSortable">

          <!-- Map box -->
          <div class="box box-solid">
            <div class="box-header">
              
              <i class="fa fa-info"></i>

              <h3 class="box-title">
                Doc page
              </h3>
            </div>
            <div class="box-body">
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page
              Doc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc pageDoc page 
            </div>
            <!-- /.box-body--> 
          </div>
          <!-- /.box -->
 
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content --> 
{% endblock %}