[defaults]
# Processing {{ forks }} hosts simultaneously.
forks = {{ forks }}
# Use roles only from project dir
# roles_path = roles

# Caching host facts
gathering = smart
fact_caching = jsonfile
fact_caching_timeout = {{ fact_caching_timeout }}

# Additional connection settings
poll_interval = {{ poll_interval }}
retry_files_enabled = False
timeout = {{ timeout }}

[privilege_escalation]
become_ask_pass=False

[ssh_connection]
# Ssh connection settings.
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=600s -o ConnectTimeout={{ timeout }}
retries = 3
