

<!-- Template of the text field -->
<script type="text/x-just" data-just="filed_type_text">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label" ><%- filed.title %></label>
        <input 
            type="text" 
            class="form-control" 
            placeholder="<%- filed.placeholder %>" 
            id="filed_<%- filed.name %>"
            <% if(filed.value !== undefined){ %>
                value="<%- filed.value %>"
            <% } else if(item_id && pmObj.model.items[item_id][filed.name] !== undefined){ %>
                value="<%- pmObj.model.items[item_id][filed.name] %>"
            <% } %>
        >
        <div class="help-block"><%- filed.help || '' %></div>
    </div>
</script>

<!-- Template of disabled fields -->
<script type="text/x-just" data-just="filed_type_disabled">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label" ><%- filed.title %></label>
        <input 
            type="text" 
            class="form-control" 
            placeholder="<%- filed.placeholder %>" 
            disabled
            id="filed_<%- filed.name %>"
            <% if(item_id){ %>
                <%= pmObj.model.items[item_id].justAttr(filed.name, 'value') %>
            <% } %>
        >
        <div class="help-block"><%- filed.help || '' %></div>
    </div>
</script>

<!-- Template of password filed -->
<script type="text/x-just" data-just="filed_type_password">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label" ><%- filed.title %></label>
        <input 
            type="password" 
            class="form-control" 
            placeholder="<%- filed.placeholder %>" 
            id="filed_<%- filed.name %>"
            <% if(item_id && false){ %>
                value="<%- pmObj.model.items[item_id][filed.name] %>"
            <% } %>
        >
        <div class="help-block"><%- filed.help || '' %></div>
    </div>
</script>

<!-- Template of boolean filed -->
<script type="text/x-just" data-just="filed_type_boolean">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 boolean-select">
        <label class="control-label" ><%- filed.title %></label>
        <div class="form-control <% if(item_id && pmObj.model.items[item_id][filed.name]){ %>
                                    selected
                                 <% } else if(filed.default) { %>
                                    selected
                                 <% } %>"
                onclick="$(this).toggleClass('selected');"
                onselectstart="return false"
                onmousedown="return false"
                style="cursor: pointer;"
                id="filed_<%- filed.name %>">
            <div class="ico-on fa fa-toggle-on"></div>
            <div class="ico-off fa  fa-toggle-off"></div>
            <div class="boolean-title" >Boolean value</div>
        </div>
        <div class="help-block"><%- filed.help || '' %></div>
    </div> 
</script>

<!-- Template of textarea filed -->
<script type="text/x-just" data-just="filed_type_textarea">
    <div class="form-group col-lg-12 col-xs-12 col-sm-12 col-md-12">
        <label class="control-label" ><%- filed.title %></label>
        <textarea
            class="form-control"
            style="resize:vertical; min-height:75px;"
            placeholder="<%- filed.placeholder %>"
            id="filed_<%- filed.name %>"
            <% var t_a_value = ""
               if(filed.value !== undefined){  %>
                <% t_a_value = filed.value %>
            <% } else if(item_id && pmObj.model.items[item_id][filed.name] !== undefined){ %>
                <%  t_a_value = pmObj.model.items[item_id][filed.name] %>
            <% } %>
        ><%- t_a_value %></textarea>
        <div class="help-block"><%- filed.help || '' %></div>
    </div>
</script>