
<!-- Шаблон поля автокомплита по списку доступных модуйлей, вызывается функцией moduleArgsEditor.moduleAutocompleteFiled -->
<script type="text/x-just" data-just="moduleAutocompleteFiled_template">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label" >Module</label>
        <input type="text"
                class="module-autocomplete form-control"
                id="module-autocomplete"
                value="<%- value %>">
    </div> 
</script>


<!-- Шаблон поля ввода аргументов к модулю, вызывается функцией moduleArgsEditor.argsAutocompleteFiled -->
<script type="text/x-just" data-just="moduleArgsFiled_template">
    <div class="col-lg-12">
        <div class="">
            <label class="control-label" >Args</label>
            <input type="text"
                    class="form-control"
                    value="<%- value %>"
                    id="module-args-string"
                    onchange=""
                    onpaste=""  >
           <!--<span class="input-group-addon" onclick=" " >
                 <span class="glyphicon glyphicon-pencil"></span>
            </span>-->
        </div>
        <div class="help-block">
            args (string) – which args must be passed to module. Just raw string with arguments. You can specify here contains of args option. For example ls -la for shell module.
        </div>
    </div>
</script>

<!-- Шаблон полей выбора модуля и аргументов к выполнению модуля, вызывается функцией moduleArgsEditor.moduleFileds -->
<script type="text/x-just" data-just="moduleFileds_template"> 
    <div class="row">
        <%= moduleArgsEditor.moduleAutocompleteFiled(module) %> 
    </div>

    <div class="row" >
        <%= moduleArgsEditor.argsAutocompleteFiled(args) %> 
    </div>
</script>