
<!-- Шаблон виджета -->
<script type="text/x-just" data-just="pmwItemsCounter">
    <div class="col-lg-2 col-sm-4 col-xs-6 dnd-block" id="pmw<%- model.countObject.model.name %>Counter">
        <div class="small-box bg-aqua cursor-move1">
            <div class="inner">
                <h3><%= model.justText('count') %></h3>
                <p style="text-transform: capitalize"><%- model.countObject.model.name %></p>
            </div>
            <div class="icon hidden-xs" style="top: 0px;">
                <i class="glyphicon glyphicon-cog"></i>
            </div>
            <a href="<%- polemarch.opt.host %>/?<%- model.countObject.model.page_name %>" onclick="return spajs.openURL(this.href);" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</script>

<!--Шаблон графика -->
<script type="text/x-just" data-just="pmwChartWidget">
    <div class="col-lg-12 col-xs-12">
        <div class="box box-info
        <% for(var j in pmDashboard.model.widgets[0]){  %>
            <% if(pmDashboard.model.widgets[0][j].name == 'pmwChartWidget' && pmDashboard.model.widgets[0][j].collapse) { %>
              collapsed-box
            <% } %>
        <% } %>
        ">
        <div class="box-header ui-sortable-handle cursor-move1">
        <!--
        <i class="fa fa-th"></i>
        <h3 class="box-title">Tasks history</h3>
    -->
    Tasks history

    <!--<div class="box-tools pull-right"> -->
    <div class="pull-right">
        <button type="button" class="btn btn-sm w-btn" data-widget="collapse" id="collapse-chart" onclick="pmDashboard.setNewWidgetCollapseValue(this)">
            <i
                <% for(var j in pmDashboard.model.widgets[0]){  %>
                    <% if(pmDashboard.model.widgets[0][j].name == 'pmwChartWidget' && pmDashboard.model.widgets[0][j].collapse==true) { %>
                       class="fa fa-plus"
                    <% } %>
                    <% if(pmDashboard.model.widgets[0][j].name == 'pmwChartWidget' && pmDashboard.model.widgets[0][j].collapse==false) { %>
                       class="fa fa-minus"
                    <% } %>
                <% } %>
            ></i>
        </button>
    <button type="button" class="btn btn-sm w-btn" data-widget="remove"  onclick="pmDashboard.setNewWidgetActiveValue(this)">
        <i class="fa fa-times"></i>
    </button>
    </div>

    <div class="pull-right" id="period-list" style="width:200px; min-width:130px;
        <% for(var j in pmDashboard.model.widgets[0]){  %>
            <% if(pmDashboard.model.widgets[0][j].name == 'pmwChartWidget' && pmDashboard.model.widgets[0][j].collapse==true) { %>
                display:none;
            <% } %>
        <% } %>
    ">
        <label  style="float:left; margin-right:10px; line-height:26px;">Period</label>
        <select id="chart-period" class="form-control" style="max-width:130px; height:26px; line-height:26px; padding:3px 12px; display:inline-block; float:left;" onchange="pmDashboard.updateStatsDataLast(this)">
        <option value="1095">last 3 years</option>
    <option value="365">last year</option>
    <option value="90">last 3 months</option>
    <option value="30">last month</option>
    <option value="14">last 2 weeks</option>
    <option value="7">last week</option>
    <option value="3">last 3 days</option>
    </select>
    </div>



    </div>
    <div class="box-body border-radius-none">
        <div id="c3-history-chart"></div>
        </div>
        <!-- /.box-body -->
        </div>
        </div>
</script>

<!-- Шаблон модального окна настройки виджетов -->
<script type="text/x-just" data-just="modalWidgetsSettings">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Widgets options</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
       <table class="table table-bordered" id="modal-table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Is active</th>
                <th>Collapsed</th>
                <!--<th>Order</th>-->
            </tr>

             <% for(var i in pmDashboard.model.widgets){ %>
                <% for(var j in pmDashboard.model.widgets[i]){  %>
                    <tr rowname="<%= pmDashboard.model.widgets[i][j].name %>">
                    <% if(pmDashboard.model.widgets[i][j].title){ %>
                        <td><%= pmDashboard.model.widgets[i][j].title %></td>
                    <% } %>
                    <td class="boolean-select" valuename="active">
                    <div class="form-control <% if(pmDashboard.model.widgets[i][j].active){ %> selected <% } %>" onclick="$(this).toggleClass('selected');" onselectstart="return false" onmousedown="return false" style="cursor: pointer;">
                        <div class="ico-on fa fa-toggle-on"></div>
                        <div class="ico-off fa  fa-toggle-off"></div>
                     </div>
                    </td>
                    <td class="boolean-select" valuename="collapse">
                        <div class="form-control <% if(pmDashboard.model.widgets[i][j].collapse){ %> selected <% } %>" <% if(pmDashboard.model.widgets[i][j].type==0){ %> onclick="$(this).toggleClass('selected');" onselectstart="return false" onmousedown="return false" <% } %>>
                            <div class="ico-on fa fa-toggle-on" <% if(pmDashboard.model.widgets[i][j].type==1){ %> style="cursor: not-allowed!important;"<% } %>></div>
                            <div class="ico-off fa  fa-toggle-off" <% if(pmDashboard.model.widgets[i][j].type==1){ %> style="cursor: not-allowed!important;"<% } %>></div>
                         </div>
                    </td>
                   <!-- <td><input type="number" value="<%= pmDashboard.model.widgets[i][j].sortNum%>" class="form-control"></td>-->
                    </tr>
                 <% } %>

            <% } %>
        </tbody>
    </table>
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="pmDashboard.saveWigdetsOptionsFromModal()">Save</button>
      </div>
    </div>
  </div>
</script>

<!-- Страница dashboard -->
<script type="text/x-just" data-just="dashboard_page">
    <section class="content-header" >
        <h1 style="display:inline-block;">
            Dashboard
        </h1>

        <button class="btn btn-default" onclick="pmDashboard.showModalWindow();" style="margin-left: 10px; margin-top:-7px;">
           <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="btn btn-default" onclick="pmDashboard.toggleSortable(this);" style="margin-left: 5px; margin-top:-7px;">
           <i class="fa fa-lock"></i>
        </button>

        <div id="modal-widgets-settings" class="modal fade">
            <%= pmDashboard.renderModalWindow() %>
        </div>




        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </section>



    <section class="content row" >
        
        <!-- Вывод списка виджетов -->
        <% for(var i in pmDashboard.model.widgets){ %>
            <div class="row" id="dnd-container">
                <% for(var j in pmDashboard.model.widgets[i]){  %>
                    <% if (pmDashboard.model.widgets[i][j].active) { %>
                        <% if(pmDashboard.model.widgets[i][j].widget && pmDashboard.model.widgets[i][j].type==1){ %>
                            <%= pmDashboard.model.widgets[i][j].widget.render() %>
                        <% } %>
                        <% if(pmDashboard.model.widgets[i][j].type==0){ %>
                            <div class="dnd-block" id="<%= pmDashboard.model.widgets[i][j].name %>"></div>
                            <%= pmDashboard.model.widgets[i][j].widget.render() %>
                        <% } %>
                    <% } %>
                <% } %>
               </div>
        <% } %>

    </section>
</script>