 


  
<!-- groupsAutocompleteTemplate -->
<script type="text/x-just" data-just="groups_autocomplete_filed">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label" >Group</label>
 
        <div class="input-group">
            <input type="text" placeholder="Enter name" id="groups_autocomplete_filed<%- prefix %>" value="<%- value %>"  class="form-control" aria-describedby="input-addon<%- prefix %>" >
            <span class="input-group-addon" id="input-addon<%- prefix %>" onclick="$('#groups_autocomplete_filed<%- prefix %>').val('');" style="cursor: pointer;" >
                <span class='glyphicon glyphicon-remove' ></span>
            </span>
        </div>

        <div class="help-block">
            Limit to one or more hosts and groups
            <a class="glyphicon glyphicon-question-sign" href="https://ansible-tips-and-tricks.readthedocs.io/en/latest/ansible/commands/#limit-to-one-or-more-hosts" target="_blank"></a>
        </div>
    </div>
</script>
