 
<script type="text/x-just" data-just="groups_sub_items">
    <section class="col-lg-12">
        <div class="box box-info">
            <div class="box-header with-border">
                Sub items<br>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <~ pmGroups.model.items[item_id].groups >
                        <% for(var i in pmGroups.model.items[item_id].groups){ %>
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Group</label>
                                <a href="<%- polemarch.opt.host %>/?group/<%- pmGroups.model.items[item_id].groups[i].id %>" onclick="return spajs.openURL(this.href);" >
                                    <%- pmGroups.model.items[item_id].groups[i].name %>
                                </a>
                            </div>
                        <% } %>
                    <~>

                    <~ pmGroups.model.items[item_id].hosts >
                        <% for(var i in pmGroups.model.items[item_id].hosts){ %>
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Host</label>
                                <a href="<%- polemarch.opt.host %>/?host/<%- pmGroups.model.items[item_id].hosts[i].id %>" onclick="return spajs.openURL(this.href);" >
                                    <%- pmGroups.model.items[item_id].hosts[i].name %>
                                </a>
                            </div>
                        <% } %>
                    <~>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <% if(pmGroups.model.items[item_id].children){ %>
                            <button
                                    type="button"
                                    onclick="spajs.showLoader(pmGroups.showAddSubGroupsForm(<%- item_id %>)); return false;"
                                    class="btn btn-primary"
                                    >Edit existings groups</button>
                                    <button type="button" onclick="spajs.open({ menuId:'group/<%- item_id %>/new-group'}); return false;" class="btn btn-primary" >Create new group</button>
                        <% }else{ %>
                            <button type="button"
                                    onclick="spajs.showLoader(pmGroups.showAddSubHostsForm(<%- item_id %>)); return false;"
                                    class="btn btn-primary"
                                    >Edit existings hosts</button>
                                    <button type="button" onclick="spajs.open({ menuId:'group/<%- item_id %>/new-host'}); return false;" class="btn btn-primary" >Create new host</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<!-- Добавление списка подгрупп к группе -->
<script type="text/x-just" data-just="add_existing_groups_to_group">
    <div class="row" id="add_existing_item_to_group">
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    Edit sub groups<br>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <select class="form-control select2" id="polemarch-model-items-select" multiple="multiple" data-placeholder="" >
                                <% for(var i in pmGroups.model.itemslist.results){ %>
                                    <% if(item_id != pmGroups.model.itemslist.results[i].id ){ %>
                                        <option
                                            value="<%- pmGroups.model.itemslist.results[i].id %>"
                                            <% if(pmGroups.hasGroups(item_id, pmGroups.model.itemslist.results[i].id)){ %>selected<% } %> ><%- pmGroups.model.itemslist.results[i].name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button type="button" onclick="$('#add_existing_item_to_group').hide();   spajs.showLoader(pmGroups.setSubGroups(<%- item_id %>, $('#polemarch-model-items-select').val())); return false;" class="btn btn-primary" >Save</button>
                            <button type="button" onclick="$('#add_existing_item_to_group').remove(); return false;" class="btn btn-default" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</script>

<!-- Добавление списка хостов к группе -->
<script type="text/x-just" data-just="add_existing_hosts_to_group">
    <div class="row" id="add_existing_item_to_group">
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    Edit sub hosts<br>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <select class="form-control select2" id="polemarch-model-items-select" multiple="multiple" data-placeholder="" >
                                <% for(var i in pmHosts.model.itemslist.results){ %>
                                    <option
                                        value="<%- pmHosts.model.itemslist.results[i].id %>"
                                        <% if(pmGroups.hasHosts(item_id, pmHosts.model.itemslist.results[i].id)){ %>selected<% } %> ><%- pmHosts.model.itemslist.results[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button type="button" onclick="$('#add_existing_item_to_group').hide(); spajs.showLoader(pmGroups.setSubHosts(<%- item_id %>, $('#polemarch-model-items-select').val())); return false;" class="btn btn-primary" >Save</button>
                            <button type="button" onclick="$('#add_existing_item_to_group').remove(); return false;" class="btn btn-default" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</script>
  
<!-- groupsAutocompleteTemplate -->
<script type="text/x-just" data-just="groups_autocomplete_filed">
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label" >Group</label>
 
        <div class="input-group">
            <input type="text" placeholder="Enter name" id="groups_autocomplete_filed<%- prefix %>" value="<%- value %>"  class="form-control" aria-describedby="input-addon<%- prefix %>" >
            <span class="input-group-addon" id="input-addon<%- prefix %>" onclick="$('#groups_autocomplete_filed<%- prefix %>').val('');" style="cursor: pointer;" >
                <span class='glyphicon glyphicon-remove' ></span>
            </span>
        </div>

        <div class="help-block">
            Limit to one or more hosts and groups
            <a class="glyphicon glyphicon-question-sign" href="https://ansible-tips-and-tricks.readthedocs.io/en/latest/ansible/commands/#limit-to-one-or-more-hosts" target="_blank"></a>
        </div>
    </div>
</script>
