 
<!-- Поля ввода инвентория -->
<script type="text/x-just" data-just="filed_type_inventoriesAutocomplete">  
    
    <% if(item_id){ %>  
        <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 boolean-select">
            <label class="control-label" >Inventory source</label>
            <select class="form-control select2" id="inventory-source" style="width:100%" onchange="$('.inventory-source-type').toggle(); if(<%- justCall(filed) %>.onchange) <%- justCall(filed) %>.onchange({value:$('.inventory-source-'+this.value+' .inventory-source-value').val()})" >  
                    <option value="file" <% if(/[^0-9]/mg.test(filed.getFiledValue.apply(pmObj, [item_id]))){ %>selected<% } %> >From file in project dir</option>
                    <option value="db" <% if(!/[^0-9]/mg.test(filed.getFiledValue.apply(pmObj, [item_id]))){ %>selected<% } %> >From database</option> 
            </select>
        </div> 

        <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 inventory-source-file inventory-source-type" 
                    style="<% if(!/[^0-9]/mg.test(filed.getFiledValue.apply(pmObj, [item_id]))){ %>display:none;<% } %>">
            <label class="control-label" >Inventory file</label>
            <input type="text" onchange="if(<%- justCall(filed) %>.onchange) <%- justCall(filed) %>.onchange({value:this.value})"
                    class="form-control inventory-source-value"
                    id="inventories-file"
                    value="<% if(/[^0-9]/mg.test(filed.getFiledValue.apply(pmObj, [item_id]))){ %><%- filed.getFiledValue.apply(pmObj, [item_id]) %><% } %>">
        </div>

        <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 inventory-source-db inventory-source-type"
            style="<% if(/[^0-9]/mg.test(filed.getFiledValue.apply(pmObj, [item_id]))){ %>display:none;<% } %>">
            <label class="control-label" >Inventory from project</label>
            <select class="form-control select2 inventory-source-value" id="inventories-autocomplete" data-placeholder="Select inventory" style="width:100%"  onchange="if(<%- justCall(filed) %>.onchange) <%- justCall(filed) %>.onchange({value:this.value})" >  
                
                <% if(!opt.project_id){ %>
                    <% for(var i in pmInventories.model.itemslist.results){ var val = pmInventories.model.itemslist.results[i] %>
                        <option
                            <% if(filed.getFiledValue.apply(pmObj, [item_id]) == val.id){ %>  selected  <% } %>
                            value="<%- val.id %>"
                            ><%- val.name %></option>
                    <% } %>
                <% }else{ %>
                    <% for(var i in pmProjects.model.items[opt.project_id].inventories){ var val = pmProjects.model.items[opt.project_id].inventories[i] %>
                        <option
                            <% if(filed.getFiledValue.apply(pmObj, [item_id]) == val.id){ %>  selected  <% } %>
                            value="<%- val.id %>"
                            ><%- val.name %></option>
                    <% } %>
                <% } %>
            </select> 
        </div> 
    <% }else{ %> 
        <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 boolean-select">
            <label class="control-label" >Inventory source</label>
            <select class="form-control select2" id="inventory-source" style="width:100%"
                    onchange="$('.inventory-source-type').toggle(); if(<%- justCall(filed) %>.onchange) <%- justCall(filed) %>.onchange({value:$('.inventory-source-'+this.value+' .inventory-source-value').val()})" >  
                    <option value="file" >From file in project dir</option>
                    <option value="db" selected>From database</option> 
            </select>
        </div> 

        <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 inventory-source-file inventory-source-type" 
                    style="display:none;">
            <label class="control-label" >Inventory file</label>
            <input type="text" onchange="if(<%- justCall(filed) %>.onchange) <%- justCall(filed) %>.onchange({value:this.value})"
                    class="form-control inventory-source-value"
                    id="inventories-file"
                    value="">
        </div>

        <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 inventory-source-db inventory-source-type">
            <label class="control-label" >Inventory from project</label>
            <select class="form-control select2 inventory-source-value" id="inventories-autocomplete" data-placeholder="Select inventory" style="width:100%"  onchange="if(<%- justCall(filed) %>.onchange) <%- justCall(filed) %>.onchange({value:this.value})">  
                <% if(!opt.project_id){ %>
                    <% for(var i in pmInventories.model.itemslist.results){ var val = pmInventories.model.itemslist.results[i] %>
                        <option value="<%- val.id %>"
                            ><%- val.name %></option>
                    <% } %>
                <% }else{ %>
                    <% for(var i in pmProjects.model.items[opt.project_id].inventories){ var val = pmProjects.model.items[opt.project_id].inventories[i] %>
                        <option value="<%- val.id %>"
                            ><%- val.name %></option>
                    <% } %>
                <% } %>
            </select> 
        </div>
    <% } %> 
</script>


<script type="text/x-just" data-just="inventories_import_page">
    <section class="content-header">
        <h1>
            <a href="<%- polemarch.opt.host %>/?inventories"  onclick="return spajs.openURL(this.href);" class="btn btn-default" >
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>

            <span class="h1-header" >Import from file</span>

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>"  onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="<%- polemarch.opt.host %>/?inventories"  onclick="return spajs.openURL(this.href);" >Inventories</a></li>
            <li class="active">Import from file</li>
        </ol>
    </section>

    <section class="content">
        
        <~ pmInventories.model.importedInventories>
            <% if(pmInventories.model.importedInventories && pmInventories.model.importedInventories.inventory){%> 
                <button type="button" onclick="spajs.showLoader(pmInventories.importInventoriesAndOpen()); return false;" class="btn btn-primary" >Import inventory</button>
                <span class="btn btn-default textfile" style="margin-left: 10px;" >
                    <input type="file" class="input-file"  onchange="spajs.showLoader(pmInventories.openImportPageAndImportFiles(event));"  >
                    <span class="glyphicon glyphicon-file"></span> Import from file
                </span>

            <% }else{ %>  
                <span class="btn btn-primary textfile" style="margin-left: 10px;" >
                    <input type="file" class="input-file"  onchange="spajs.showLoader(pmInventories.openImportPageAndImportFiles(event));"  >
                    <span class="glyphicon glyphicon-file"></span> Import from file
                </span>
            <% } %>
        <~>
        <br>
        <br>
        <div class="row">
            <~ pmInventories.model.importedInventories> 
                <%= pmInventories.renderImportedInventory(pmInventories.model.importedInventories) %> 
            <~>
        </div> 
    </section>
</script>
    
<script type="text/x-just" data-just="inventories_imported_inventory"> 
    
<section class="col-lg-12">
    <div class="box box-info collapsed-box">
        <div class="box-header with-border collapsed-box">
            Imported file<br>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group col-lg-12 col-ml-12 col-sm-12">
                <pre><%- text %></pre>
            </div>  
        </div>
    </div>
</section> 
        
<div class="col-lg-12">
    <h1>Inventory</h1> 
</div> 
<section class="col-lg-12">
    <div class="box box-info">
        <div class="box-header with-border">
            Inventory<br>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
            </div>
        </div>
        <div class="box-body">   
            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                <label class="control-label" >Name</label>
                <input type="text" id="inventory_name" value="<%- inventory.name %>"  class="form-control" maxlength="255">
                <div class="help-block"></div>
            </div>
        </div>
    </div>
</section> 
<%= jsonEditor.editor(inventory.vars, {block:'inventories', prefix:"inventory"}) %>


<% for(var i in inventory.groups){ var valg = inventory.groups[i] %>   
    <div class="col-lg-12">
        <h1>Group: <%- i %></h1> 
    </div> 
    <%= jsonEditor.editor(valg.vars, {block:'groups', prefix: 'group'+i}) %> 
<% } %>
    
<% for(var i in inventory.hosts){ var val = inventory.hosts[i] %>  
    <div class="col-lg-12">
        <h1>Host: <%- val.name %></h1> 
    </div> 
    <section class="col-lg-12">
        <div class="box box-info">
            <div class="box-header with-border">
                Host: <%- val.name %><br>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
                </div>
            </div>
            <div class="box-body">   
                <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                    <label class="control-label" >Name</label>
                    <input type="text" disabled value="<%- val.name %>"  class="form-control" maxlength="255">
                    <div class="help-block"></div>
                </div>
                <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                    <label class="control-label" >Type</label>
                    <input type="text" disabled value="<%- val.type %>"  class="form-control" maxlength="255">
                    <div class="help-block"></div>
                </div>  
            </div>
        </div>
    </section> 
    <%= jsonEditor.editor(val.vars, {block:'hosts', prefix:'host'+val.name}) %> 
<% } %>

<% for(var i in inventory.groups){ var valg = inventory.groups[i] %>  
    <% for(var j in valg.hosts){ var val = valg.hosts[j] %> 
        <div class="col-lg-12">
            <h1>Group: <%- i %>, Host: <%- val.name %></h1>  
        </div> 
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    Group: <%- i %>, Host: <%- val.name %><br>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
                    </div>
                </div>
                <div class="box-body">   
                    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                        <label class="control-label" >Name</label>
                        <input type="text" disabled value="<%- val.name %>"  class="form-control" maxlength="255">
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                        <label class="control-label" >Type</label>
                        <input type="text" disabled value="<%- val.type %>"  class="form-control" maxlength="255">
                        <div class="help-block"></div>
                    </div>  
                </div>
            </div>
        </section> 
        <%= jsonEditor.editor(val.vars, {block:'hosts', prefix:'host'+val.name}) %> 
    <% } %>
<% } %>  
</script>
 
<script type="text/x-just" data-just="inventories_btn_openImportPageAndImportFiles">
<span class="btn btn-default textfile" style="margin-left: 10px;" >
    <input type="file" class="input-file"  onchange="spajs.showLoader(pmInventories.openImportPageAndImportFiles(event));"  >
    <span class="glyphicon glyphicon-file"></span> Import from file
</span>
</script> 
<script type="text/x-just" data-just="inventories_sub_items"> 
    <section class="col-lg-12">
        <div class="box box-info">
            <div class="box-header with-border">
                Sub items<br>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <~ pmInventories.model.items[item_id].groups >
                        <% console.log("inventories", item_id, pmInventories.model.items[item_id].groups) %>
                        <% for(var i in pmInventories.model.items[item_id].groups){ %> 
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Group</label>
                                <a href="<%- polemarch.opt.host %>/?group/<%- pmInventories.model.items[item_id].groups[i].id %>" onclick="return spajs.openURL(this.href);" >
                                    <%- pmInventories.model.items[item_id].groups[i].name %>
                                </a>
                            </div>
                        <% } %>
                    <~>

                    <~ pmInventories.model.items[item_id].hosts >
                        <% for(var i in pmInventories.model.items[item_id].hosts){ %>
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Host</label> 
                                <a href="<%- polemarch.opt.host %>/?host/<%- pmInventories.model.items[item_id].hosts[i].id %>" onclick="return spajs.openURL(this.href);" >
                                    <%- pmInventories.model.items[item_id].hosts[i].name %>
                                </a>
                            </div>
                        <% } %>
                    <~>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">

                            <button
                                    type="button"
                                    onclick="spajs.showLoader(pmInventories.showAddSubGroupsForm(<%- item_id %>)); return false;"
                                    class="btn btn-primary hidden-xs"
                                    >Edit existings groups</button>

                            <button type="button"
                                    onclick="spajs.open({ menuId:'inventory/<%- item_id %>/new-group'}); return false;"
                                    class="btn btn-primary hidden-xs"
                                    >Create new group</button>

                            <div style="margin-top:10px;" class="hidden-xs hidden-md hidden-lg"></div>

                            <button type="button"
                                    onclick="spajs.showLoader(pmInventories.showAddSubHostsForm(<%- item_id %>)); return false;"
                                    class="btn btn-primary hidden-xs"
                                    >Edit existings hosts</button>

                            <button type="button"
                                    onclick="spajs.open({ menuId:'inventory/<%- item_id %>/new-host'}); return false;"
                                    class="btn btn-primary hidden-xs"
                                    >Create new host</button>

                            <button
                                    type="button"
                                    onclick="spajs.showLoader(pmInventories.showAddSubGroupsForm(<%- item_id %>)); return false;"
                                    class="btn btn-primary btn-block visible-xs"
                                    >Edit existings groups</button>

                            <button type="button"
                                    onclick="spajs.open({ menuId:'inventory/<%- item_id %>/new-group'}); return false;"
                                    class="btn btn-primary btn-block visible-xs"
                                    >Create new group</button>

                            <button type="button"
                                    onclick="spajs.showLoader(pmInventories.showAddSubHostsForm(<%- item_id %>)); return false;"
                                    class="btn btn-primary btn-block visible-xs"
                                    >Edit existings hosts</button>

                            <button type="button"
                                    onclick="spajs.open({ menuId:'inventory/<%- item_id %>/new-host'}); return false;"
                                    class="btn btn-primary btn-block visible-xs"
                                    >Create new host</button>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</script>

<!-- Добавление списка подгрупп к inventory -->
<script type="text/x-just" data-just="add_existing_groups_to_inventory">
    <div class="row" id="add_existing_item_to_inventory">
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    Edit sub groups<br>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <select class="form-control select2" id="polemarch-model-items-select" multiple="multiple" data-placeholder="" >
                                <% for(var i in pmGroups.model.itemslist.results){ %>
                                    <option
                                        value="<%- pmGroups.model.itemslist.results[i].id %>"
                                        <% if(pmInventories.hasGroups(item_id, pmGroups.model.itemslist.results[i].id)){ %>selected<% } %> ><%- pmGroups.model.itemslist.results[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button type="button" onclick="$('#add_existing_item_to_inventory').hide(); spajs.showLoader(pmInventories.setSubGroups(<%- item_id %>, $('#polemarch-model-items-select').val())); return false;" class="btn btn-primary" >Save</button>
                            <button type="button" onclick="$('#add_existing_item_to_inventory').remove(); return false;" class="btn btn-default" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</script>

<!-- Добавление списка хостов к inventory -->
<script type="text/x-just" data-just="add_existing_hosts_to_inventory">
    <div class="row" id="add_existing_item_to_inventory">
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    Edit sub hosts<br>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <select class="form-control select2" id="polemarch-model-items-select" multiple="multiple" data-placeholder="" >
                                <% for(var i in pmHosts.model.itemslist.results){ %>
                                    <option
                                        value="<%- pmHosts.model.itemslist.results[i].id %>"
                                        <% if(pmInventories.hasHosts(item_id, pmHosts.model.itemslist.results[i].id)){ %>selected<% } %> ><%- pmHosts.model.itemslist.results[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button type="button" onclick="$('#add_existing_item_to_inventory').hide(); spajs.showLoader(pmInventories.setSubHosts(<%- item_id %>, $('#polemarch-model-items-select').val())); return false;" class="btn btn-primary" >Save</button>
                            <button type="button" onclick="$('#add_existing_item_to_inventory').remove(); return false;" class="btn btn-default" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</script>