
<script  type="text/x-just" style="display: none;" data-just="pagination">
<% if(totalPage > 1){ %>
        <ul class="pagination no-margin pull-right">
            <% if(totalPage < 21){ %>
                <% for(var i = 0; i < totalPage; i++){ %>
                    <% if(i == currentPage){ %>
                        <li><a href="<%- url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1) %>" onclick="return spajs.openURL(this.href);" style="background-color: #d2d6de;"><%- i+1 %></a></li>
                    <% }else{ %>
                        <li><a href="<%- url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1) %>" onclick="return spajs.openURL(this.href);" ><%- i+1 %></a></li>
                    <% } %>
                <% } %>
            <% }else{ %>
                <% for(var i = 0; i < totalPage; i++){ %>
                    <% if(i == currentPage){ %>
                        <li><a href="<%- url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1) %>" onclick="return spajs.openURL(this.href);" style="background-color: #d2d6de;"><%- i+1 %></a></li>
                    <% }else{ %>
                        <% if(Math.abs(i - currentPage) > 5 && i > 3 && totalPage - i > 3){ %>
                            <% if( dotShow == false){ %>
                                <% dotShow = true %>
                                <li><a href="<%- url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1) %>" onclick="return spajs.openURL(this.href);">..</a></li>
                            <% } %>
                        <% }else{ %>
                            <% dotShow = false %>
                            <li><a href="<%- url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1) %>" onclick="return spajs.openURL(this.href);" ><%- i+1 %></a></li>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        </ul>
<% } %>
</script>

<script  type="text/x-just" style="display: none;" data-just="searchFiled">
    <div class="input-group col-lg-2" style="float: right;">
        <input
            type="text"
            id="search-query-input"
            placeholder="Search by name"
            class="form-control"
            maxlength="255"
            value="<%- opt.query %>"
            onkeyup="if(event.keyCode == 13) spajs.showLoader(<%- opt.className %>.search($('#search-query-input').val(), <%- opt.className %>.model.searchAdditionalData));"
        >
        <div class="input-group-addon" onclick="spajs.showLoader(<%- opt.className %>.search($('#search-query-input').val(), <%- opt.className %>.model.searchAdditionalData));">
            <span class="glyphicon glyphicon-search" ></span>
        </div>
    </div>
</script>



<!-- Список сущностей -->
<script type="text/x-just" data-just="items_list">
    <!-- items_list -->
    <section class="content-header">
        <h1>
            <%- pmObj.model.page_list.title %> 
        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><%- pmObj.model.page_list.short_title %></li>
        </ol>
    </section>


    <section class="content"> 
        <div class="row">
            <div class="col-lg-12">
                <% if(pmObj.model.page_list.buttons){ %>
                    <% for(var i in  pmObj.model.page_list.buttons){ %>
                        <% if(pmObj.model.page_list.buttons[i].tpl){ %>
                            <%= pmObj.model.page_list.buttons[i].tpl.apply(pmObj, [opt]) %>
                        <% }else{ %> 
                            <a 
                                class="top-line-btn <% if(typeof pmObj.model.page_list.buttons[i].title == 'function'){ %>
                                            <%- pmObj.model.page_list.buttons[i].class.apply(pmObj, [opt]) %>
                                       <% }else{ %>
                                            <%- pmObj.model.page_list.buttons[i].class %>
                                       <% } %>"
                                href="<%- pmObj.model.page_list.buttons[i].link.apply(pmObj, [opt]) %>"
                                title="<%- pmObj.model.page_list.buttons[i].help || '' %>"
                                onclick="<% if(typeof pmObj.model.page_list.buttons[i].onclick == 'function'){ %>
                                        <%- pmObj.model.className %>.model.page_list.buttons[<%- i %>].onclick.apply(<%- pmObj.model.className %>, [event])
                                    <% }else{ %>
                                        <%- pmObj.model.page_list.buttons[i].function.apply(pmObj, [opt]) %>
                                    <% } %>" >
                                    <% if(typeof pmObj.model.page_list.buttons[i].title == 'function'){ %>
                                        <%= pmObj.model.page_list.buttons[i].title.apply(pmObj, [opt]) %>
                                    <% }else{ %>
                                        <%= pmObj.model.page_list.buttons[i].title %>
                                    <% } %>
                            </a>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <br>
         
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border"> 
                        <%= pmObj.searchFiled({query:query}) %> 
                        <% if(pmObj.getTotalPages(pmObj.model.itemslist)){ %>
                            <div style="float: right; margin-right: 20px;" class="hidden-xs">
                                <%= pmObj.paginationHtml(pmObj.model.itemslist) %>
                            </div>
                        <% } %>

                    </div>
                    <div class="box-body">
                        <table class="table table-bordered multiple-select">
                            <tbody>
                                <tr>
                                    <th style="width: 45px" onclick=" $(this).parent().toggleClass('selected'); <%- pmObj.model.className %>.toggleSelectAll($('.multiple-select tr'), $(this).parent().hasClass('selected')); return false;" class="global-select" >
                                        <div class="ico-on fa fa-toggle-on"></div>
                                        <div class="ico-off fa  fa-toggle-off"></div>
                                    </th>
                                    <% for(var j in pmObj.model.page_list.fileds){ %>
                                        <th 
                                            <% if(pmObj.model.page_list.fileds[j].style){ %><%= pmObj.model.page_list.fileds[j].style.apply(pmObj,[undefined, opt]) %><% } %> 
                                            <% if(pmObj.model.page_list.fileds[j].class){ %><%= pmObj.model.page_list.fileds[j].class.apply(pmObj,[undefined, opt]) %><% } %>  >
                                                <%- pmObj.model.page_list.fileds[j].title %>
                                        </th> 
                                    <% } %>
                                    <th style="width: 95px;" >Actions</th>
                                </tr>
                                <% for(var i in pmObj.model.itemslist.results){ %>
                                    <tr
                                        class="item-row item-<%- pmObj.model.itemslist.results[i].id %>  <%- pmObj.model.selectedItems.justClass(pmObj.model.itemslist.results[i].id, 'selected') %>"
                                        data-id="<%- pmObj.model.itemslist.results[i].id %>" >
                                        <td class=""  onclick="<%- pmObj.model.className %>.toggleSelect(<%- pmObj.model.itemslist.results[i].id %>); return false;">
                                            <div class="ico-on fa fa-toggle-on"></div>
                                            <div class="ico-off fa  fa-toggle-off"></div>
                                        </td>
                                        <% for(var j in pmObj.model.page_list.fileds){ %>
                                            <td
                                                <% if(pmObj.model.page_list.fileds[j].style){ %><%= pmObj.model.page_list.fileds[j].style.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %><% } %>
                                                <% if(pmObj.model.page_list.fileds[j].class){ %><%= pmObj.model.page_list.fileds[j].class.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %><% } %>
                                            >
                                                <% if(!pmObj.model.page_list.fileds[j].value){ %>
                                                    <a href="/?<%- pmObj.model.page_name %>/<%- pmObj.model.itemslist.results[i].id %>" class="item-name"
                                                        onclick="return spajs.openURL(this.href);" ><%- pmObj.model.itemslist.results[i][pmObj.model.page_list.fileds[j].name] %></a>
                                                <% }else{ %>
                                                    <%= pmObj.model.page_list.fileds[j].value.apply(pmObj, [pmObj.model.itemslist.results[i], pmObj.model.page_list.fileds[j].name, opt]) %>
                                                <% } %>
                                            </td>
                                        <% } %> 
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <% for(var j in pmObj.model.page_list.actions){ %>
                                                        <% if(!pmObj.model.page_list.actions[j].title){ %>
                                                            <li role="separator" class="divider"></li>
                                                        <% }else{ %>
                                                            <li>
                                                                <a href="<%- pmObj.model.page_list.actions[j].link.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %>"
                                                                    onclick="<%- pmObj.model.page_list.actions[j].function.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %>" >
                                                                        <% if(typeof pmObj.model.page_list.actions[j].title == 'function'){ %>
                                                                            <%= pmObj.model.page_list.actions[j].title.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %>
                                                                        <% }else{ %>
                                                                            <%- pmObj.model.page_list.actions[j].title %>
                                                                        <% } %>
                                                                </a>
                                                            </li>
                                                        <% } %>
                                                    <% } %>
                                                    <!-- -->
                                                    <% if(pmObj.model.itemslist.results[i].options_list) { %>
                                                         <% if(pmObj.model.itemslist.results[i].options_list.length!=0) { %>
                                                            <li role="separator" class="divider"></li>
                                                            <% for(var k in pmObj.model.itemslist.results[i].options_list) { %>
                                                                <li>
                                                                    <a href="#"
                                                                    onclick="<%- pmObj.model.page_list.actions[j].function.apply(pmObj, [pmObj.model.itemslist.results[i], pmObj.model.itemslist.results[i].options_list[k], opt]) %>">
                                                                        Execute with <%= pmObj.model.itemslist.results[i].options_list[k] %>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                            <% } %>
                                                    <% } %>
                                                    <!-- -->

                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <div class="btn-group <%- pmObj.model.justNotClass('selectedCount', 'hide') %>" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions on <%= pmObj.model.justText('selectedCount') %> items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"
                                        onclick="<%- pmObj.model.className %>.deleteRows($('.multiple-select .item-row.selected')); return false;" >Delete from this page</a>
                                </li> 
                                <li>
                                    <a href="#" onclick="<%- pmObj.model.className %>.deleteSelected(); return false;" >Delete all selected elements</a>
                                </li>
                                <% for(var j in pmObj.model.page_list.actionsOnSelected){ %> 
                                    <% if(!pmObj.model.page_list.actionsOnSelected[j].title){ %>
                                        <li role="separator" class="divider"></li>
                                    <% }else{ %>
                                        <li>
                                            <a href="<%- pmObj.model.page_list.actionsOnSelected[j].link.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %>"
                                                onclick="<%- pmObj.model.page_list.actionsOnSelected[j].function.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %>" >
                                                    <% if(typeof pmObj.model.page_list.actionsOnSelected[j].title == 'function'){ %>
                                                        <%= pmObj.model.page_list.actionsOnSelected[j].title.apply(pmObj, [pmObj.model.itemslist.results[i], opt]) %>
                                                    <% }else{ %>
                                                        <%- pmObj.model.page_list.actionsOnSelected[j].title %>
                                                    <% } %>
                                            </a>
                                        </li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                        
                        <% if(!query){ %>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">  
                                    <li>
                                        <a href="#" onclick="spajs.showLoader(<%- pmObj.model.className %>.toggleSelectEachItem(true)); return false;" >Select all</a>
                                    </li>
                                    <li class=" <%- pmObj.model.justNotClass('selectedCount', 'hide') %>" >
                                        <a href="#" onclick="spajs.showLoader(<%- pmObj.model.className %>.toggleSelectEachItem(false)); return false;" >Unselect all</a>
                                    </li>
                                </ul>
                            </div>
                        <% } %>
                        <% if(pmObj.getTotalPages(pmObj.model.itemslist)){ %>
                                <%= pmObj.paginationHtml(pmObj.model.itemslist) %>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- /items_list -->
</script>
 
<!-- Страница создания сущьности -->
<script type="text/x-just" data-just="errorPage">
    <!-- errorPage -->
    <section class="content-header">
        <h1> 
            <span class="h1-header" ><i class="fa fa-warning text-yellow"></i> <%- error.title %></span>

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li> 
            <li class="active"><i class="fa fa-warning text-yellow"></i> <%- error.title %> </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
        <br>
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        
                    </div>
                    <div class="box-body"> 
                        <p>
                            Status: <%- error.status %>
                        </p>
                        <% if(error.error_data == undefined || error.status >= 500){ %> 
                            <a target="_blank" href="https://gitlab.com/vstconsulting/polemarch/issues/new?issuable_template%5D=Bug&issue%5Btitle%5D=Bug%20in%20version%20<%- window.polemarch_version %>">
                                Follow the link to create a bug report
                            </a> 
                        <% } %>
                        <% if(error.text){ %> 
                            <%- error.text %> 
                        <% } %> 
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- /errorPage -->
</script>
 
<!-- Страница создания сущьности -->
<script type="text/x-just" data-just="items_new_page">
    <!-- items_new_page -->
    <section class="content-header">
        <h1>
            <a href="<%- polemarch.opt.host %>/?<%- pmObj.model.name %>" onclick="return spajs.openURL(this.href);" class="btn btn-default" >
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>

            <span class="h1-header" ><%- pmObj.model.page_new.title %></span>

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="<%- polemarch.opt.host %>/?<%- pmObj.model.name %>" onclick="return spajs.openURL(this.href);" ><%- pmObj.model.page_list.short_title %></a></li>
            <li class="active"><%- pmObj.model.page_new.short_title %></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" onclick="spajs.showLoader(<%- pmObj.model.className %>.addItem('<%- parent_type %>', <%- parent_item %>)); return false;" class="btn btn-primary" >Create</button>
                <% if(pmObj.model.page_new.buttons){ %>
                    <% for(var i in  pmObj.model.page_new.buttons){ %>
                        <% if(pmObj.model.page_new.buttons[i].tpl){ %>
                            <%= pmObj.model.page_new.buttons[i].tpl.apply(pmObj, [opt]) %>
                        <% }else{ %> 
                            <a 
                                class="top-line-btn <% if(typeof pmObj.model.page_new.buttons[i].title == 'function'){ %>
                                            <%- pmObj.model.page_new.buttons[i].class.apply(pmObj, [opt]) %>
                                       <% }else{ %>
                                            <%- pmObj.model.page_new.buttons[i].class %>
                                       <% } %>"
                                href="<%- pmObj.model.page_new.buttons[i].link.apply(pmObj, [opt]) %>"
                                title="<%- pmObj.model.page_new.buttons[i].help || '' %>"
                                onclick="<%- pmObj.model.page_new.buttons[i].function.apply(pmObj, [opt]) %>" >
                                    <% if(typeof pmObj.model.page_new.buttons[i].title == 'function'){ %>
                                        <%= pmObj.model.page_new.buttons[i].title.apply(pmObj, [opt]) %>
                                    <% }else{ %>
                                        <%= pmObj.model.page_new.buttons[i].title %>
                                    <% } %>
                            </a>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <br>
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <%- pmObj.model.page_new.short_title %><br>
                    </div>
                    <div class="box-body"> 
                        <% for(var i in pmObj.model.page_new.fileds){ %>
                            <div class="row">
                                <% for(var j in pmObj.model.page_new.fileds[i]){ var filed = pmObj.model.page_new.fileds[i][j]; %>
                                        <%= filed.filed.render(pmObj, filed) %>
                                <% } %>
                            </div>
                        <% } %> 
                    </div>
                </div>
            </section>
            <% if(pmObj.model.page_new.sections){ %>
                <% for(var i in pmObj.model.page_new.sections){ %>
                    <%= pmObj.model.page_new.sections[i].apply(pmObj, [pmObj.model.page_new.sections[i], opt]) %>
                <% } %>
            <% } %>
        </div>
    </section>
    <!-- /items_new_page -->
</script>

<!-- Страница сущьности -->
<script type="text/x-just" data-just="items_page"> 
    
    <!-- items_page -->
    <section class="content-header">
        <h1>
            <a href="<% if(pmObj.model.page_item.back_link){ %><%- pmObj.model.page_item.back_link.apply(pmObj, [item_id, opt]) %><% }else{ %><%- polemarch.opt.host %>/?<%- pmObj.model.name %><% } %>" 
                onclick="return spajs.openURL(this.href);" class="btn btn-default" >
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>

            <span class="h1-header" ><%= pmObj.model.page_item.title.apply(pmObj, [item_id, opt]) %></span>

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="<%- polemarch.opt.host %>/?<%- pmObj.model.name %>" onclick="return spajs.openURL(this.href);" ><%= pmObj.model.page_list.short_title %></a></li>
            <li class="active"><%= pmObj.model.page_item.short_title.apply(pmObj, [item_id, opt]) %></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <% if(pmObj.model.page_item.buttons){ %>
                    <% for(var i in  pmObj.model.page_item.buttons){ %>
                        <% if(pmObj.model.page_item.buttons[i].tpl){ %>
                            <%= pmObj.model.page_item.buttons[i].tpl.apply(pmObj, [item_id, opt]) %>
                        <% }else{ %> 
                            <a 
                                class="top-line-btn <% if(typeof pmObj.model.page_item.buttons[i].title == 'function'){ %>
                                            <%- pmObj.model.page_item.buttons[i].class.apply(pmObj, [item_id, opt]) %>
                                       <% }else{ %>
                                            <%- pmObj.model.page_item.buttons[i].class %>
                                       <% } %>"
                                href="<%- pmObj.model.page_item.buttons[i].link.apply(pmObj, [item_id, opt]) %>"
                                title="<%- pmObj.model.page_item.buttons[i].help || '' %>"
                                onclick="<%- pmObj.model.page_item.buttons[i].function.apply(pmObj, [item_id, opt]) %>" >
                                    <% if(typeof pmObj.model.page_item.buttons[i].title == 'function'){ %>
                                        <%= pmObj.model.page_item.buttons[i].title.apply(pmObj, [item_id, opt]) %>
                                    <% }else{ %>
                                        <%= pmObj.model.page_item.buttons[i].title %>
                                    <% } %>
                            </a>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <br>
        
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <%= pmObj.model.page_item.short_title.apply(pmObj, [item_id, opt]) %><br>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body"> 
                        <% for(var i in pmObj.model.page_item.fileds){ %>
                            <div class="row">
                                <% for(var j in pmObj.model.page_item.fileds[i]){ var filed = pmObj.model.page_item.fileds[i][j]; %>
                                        <%= filed.filed.render(pmObj, filed, item_id, opt) %>
                                <% } %>
                            </div>
                        <% } %>  
                    </div>
                </div>
            </section>
            <% if(pmObj.model.page_item.sections){ %>
                <% for(var i in pmObj.model.page_item.sections){ %>
                    <%= pmObj.model.page_item.sections[i].apply(pmObj, [pmObj.model.page_item.sections[i], item_id, opt]) %>
                <% } %>
            <% } %>
        </div>
    </section>
    <!-- /items_page -->
</script>
