
<script type="text/x-just" data-just="guiElements.template_data">
    <!-- guiElements.template_data [type=<%- opt.type %>, format=<%- opt.format %>] -->
    <%[ main_input %>
        <input type="text"
        class="form-control"
        <%- set_api_options(opt) %>
        id="<%- guiElement.element_id %>"
        value="<% if(value && typeof value == 'object'){ if($.isArray(value)){ %><%- value.join() %><% }else{ %><%- JSON.stringify(value) %><% }}else{ %><%- value || '' %><% } %>">
    <%] %>
    <%! guiElements.base %>
</script>

