

<!-- Список пользователей -->
<script type="text/x-just" data-just="users_list">
    <section class="content-header">
        <h1>
            Users

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Users</li>
        </ol>
    </section>


    <section class="content">
        <a class="btn btn-primary"  href="/?new-user" onclick="spajs.open({ menuId:'new-user'}); return false;">Create user</a>
        <br>
        <br>
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div style="float:left;">Users</div>
                        <%= pmUsers.searchFiled({query:query}) %> 
                        <% if(pmUsers.getTotalPages(pmUsers.model.itemslist)){ %>
                            <div style="float: right; margin-right: 20px;" class="hidden-xs">
                                <%= pmUsers.paginationHtml(pmUsers.model.itemslist) %>
                            </div>
                        <% } %>

                    </div>
                    <div class="box-body">
                        <table class="table table-bordered multiple-select">
                            <tbody>
                                <tr>
                                    <th style="width: 45px" onclick=" $(this).parent().toggleClass('selected'); pmUsers.toggleSelectAll($('.multiple-select tr'), $(this).parent().hasClass('selected')); return false;" class="global-select" >
                                        <div class="ico-on fa fa-toggle-on"></div>
                                        <div class="ico-off fa  fa-toggle-off"></div>
                                    </th>
                                    <th>Name</th>
                                    <th style="width: 80px;" class="hidden-xs">Actions</th>
                                    <th style="width: 95px;" class="visible-xs">Actions</th>
                                </tr>
                                <% for(var i in pmUsers.model.itemslist.results){ %>
                                    <tr
                                        class="item-row item-<%- pmUsers.model.itemslist.results[i].id %>  <%- pmUsers.model.selectedItems.justClass(pmUsers.model.itemslist.results[i].id, 'selected') %>"
                                        data-id="<%- pmUsers.model.itemslist.results[i].id %>" >
                                        <td class=""  onclick="pmUsers.toggleSelect(<%- pmUsers.model.itemslist.results[i].id %>); return false;">
                                            <div class="ico-on fa fa-toggle-on"></div>
                                            <div class="ico-off fa  fa-toggle-off"></div>
                                        </td>
                                        <td class="<% if(pmUsers.model.itemslist.results[i].is_active){ %>user-active<% }else{ %>user-not-active<% } %>">
                                            <a href="/?user/<%- pmUsers.model.itemslist.results[i].id %>" class="item-name"
                                                    onclick="return spajs.openURL(this.href);" ><%- pmUsers.model.itemslist.results[i].username %></a>
                                        </td>
                                        <td class="hidden-xs">
                                            <a href="/?user/<%- pmUsers.model.itemslist.results[i].id %>"
                                                class="btn btn-danger"
                                                onclick="spajs.showLoader(pmUsers.deleteItem(<%- pmUsers.model.itemslist.results[i].id %>)); return false;" >Delete</a>
                                        </td>
                                        <td class="visible-xs">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="/?user/<%- pmUsers.model.itemslist.results[i].id %>"
                                                            onclick="spajs.showLoader(pmUsers.deleteItem(<%- pmUsers.model.itemslist.results[i].id %>)); return false;" >Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <div class="btn-group <%- pmUsers.model.justNotClass('selectedCount', 'hide') %>" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions on <%= pmUsers.model.justText('selectedCount') %> items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"
                                        onclick="pmUsers.deleteRows($('.multiple-select .item-row.selected')); return false;" >Delete from this page</a>
                                </li> 
                                <li>
                                    <a href="#" onclick="pmUsers.deleteSelected(); return false;" >Delete all selected elements</a>
                                </li>
                            </ul>
                        </div>
                        
                        <% if(!query){ %>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">  
                                    <li>
                                        <a href="#" onclick="spajs.showLoader(pmUsers.toggleSelectEachItem(true)); return false;" >Select all</a>
                                    </li>
                                    <li class=" <%- pmUsers.model.justNotClass('selectedCount', 'hide') %>" >
                                        <a href="#" onclick="spajs.showLoader(pmUsers.toggleSelectEachItem(false)); return false;" >Unselect all</a>
                                    </li>
                                </ul>
                            </div>
                        <% } %>
                        <% if(pmUsers.getTotalPages(pmUsers.model.itemslist)){ %>
                                <%= pmUsers.paginationHtml(pmUsers.model.itemslist) %>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
    </section>
</script>

<!-- Страница пользователя -->
<script type="text/x-just" data-just="users_page">
    <section class="content-header">
        <h1>
            <a href="<%- polemarch.opt.host %>/?users" onclick="return spajs.openURL(this.href);" class="btn btn-default" >
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>

            <span class="h1-header" ><%= pmUsers.model.items[item_id].justText('username') %></span>

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>"  onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="<%- polemarch.opt.host %>/?users"  onclick="return spajs.openURL(this.href);" >Users</a></li>
            <li class="active"><%- pmUsers.model.items[item_id].username.slice(0, 20) %></li>
        </ol>
    </section>

    <section class="content">
        <button type="button" onclick="spajs.showLoader(pmUsers.updateItem(<%- item_id %>)); return false;" class="btn btn-primary" >Save user</button>
        <button type="button" onclick="spajs.showLoader(pmUsers.copyAndEdit(<%- item_id %>)); return false;" class="btn btn-default copy-btn" title="Copy user" ><span class="glyphicon glyphicon-duplicate" ></span></button>
        <button type="button" onclick="spajs.showLoader(pmUsers.deleteItem(<%- item_id %>)); return false;" class="btn btn-danger danger-right" > 
            <span class="glyphicon glyphicon-remove" ></span> <span class="hidden-sm hidden-xs" >Remove user</span>
        </button>
        <br>
        <br>
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        Users<br>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Username</label>
                                <input type="text" 
                                    placeholder="Enter username" 
                                    id="user_<%= pmUsers.model.items[item_id].id %>_username"  
                                    class="form-control"
                                    maxlength="255"
                                    <%= pmUsers.model.items[item_id].justAttr('username', 'value') %>
                                >
                                <div class="help-block"></div>
                            </div>

                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Password</label>
                                <input type="password" class="form-control" placeholder="Enter password" id="user_<%- pmUsers.model.items[item_id].id %>_password" >
                                <div class="help-block"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Email</label>
                                <input type="email" class="form-control" placeholder="Enter email" id="user_<%- pmUsers.model.items[item_id].id %>_email" value="<%- pmUsers.model.items[item_id].email %>" >
                                <div class="help-block"></div>
                            </div>

                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >First name</label>
                                <input type="text" class="form-control" placeholder="Enter first name" id="user_<%- pmUsers.model.items[item_id].id %>_first_name" value="<%- pmUsers.model.items[item_id].first_name %>" >
                                <div class="help-block"></div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Last name</label>
                                <input type="text" class="form-control" placeholder="Enter last name" id="user_<%- pmUsers.model.items[item_id].id %>_last_name" value="<%- pmUsers.model.items[item_id].last_name %>" >
                                <div class="help-block"></div>
                            </div>

                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 boolean-select">
                                <label class="control-label" >Active</label>
                                <div class="form-control <% if(pmUsers.model.items[item_id].is_active){ %>selected<% } %>"
                                        onclick="$(this).toggleClass('selected');"
                                        onselectstart="return false"
                                        onmousedown="return false"
                                        style="cursor: pointer;"
                                        id="user_<%- pmUsers.model.items[item_id].id %>_is_active"  >
                                    <div class="ico-on fa fa-toggle-on"></div>
                                    <div class="ico-off fa  fa-toggle-off"></div>
                                    <div class="boolean-title" >Boolean value</div>
                                </div>
                            </div>
                            <!--
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Staff</label>
                                <select class="form-control" id="user_<%- pmUsers.model.items[item_id].id %>_is_staff">
                                    <option value="true" <%if(pmUsers.model.items[item_id].is_staff){ %> selected <% } %> >True</option>
                                    <option value="false" <%if(!pmUsers.model.items[item_id].is_staff){ %> selected <% } %> >False</option>
                                </select>
                                <div class="help-block"></div>
                            </div>-->
                        </div>


                    </div>
                </div>
            </section>
        </div>
    </section>
</script>

<!-- Страница создания пользователя -->
<script type="text/x-just" data-just="users_new_page">
    <section class="content-header">
        <h1>
            <a href="<%- polemarch.opt.host %>/?users" onclick="return spajs.openURL(this.href);" class="btn btn-default" >
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>

            <span class="h1-header" >Create new user</span>

        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- polemarch.opt.host %>" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="<%- polemarch.opt.host %>/?users" onclick="return spajs.openURL(this.href);" >Users</a></li>
            <li class="active">Create new user</li>
        </ol>
    </section>

    <section class="content">
        <button type="button" onclick="spajs.showLoader(pmUsers.addItem()); return false;" class="btn btn-primary" >Save user</button>
        <br>
        <br>
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        New user<br>
                    </div>
                    <div class="box-body">

                        <div class="row">

                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Username</label>
                                <input type="text" class="form-control" placeholder="Enter username" id="new_user_username" >
                                <div class="help-block"></div>
                            </div>

                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Password</label>
                                <input type="password" class="form-control" placeholder="Enter password" id="new_user_password" >
                                <div class="help-block"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Email</label>
                                <input type="email" class="form-control" placeholder="Enter email" id="new_user_email" >
                                <div class="help-block"></div>
                            </div>

                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >First name</label>
                                <input type="text" class="form-control" placeholder="Enter first name" id="new_user_first_name" >
                                <div class="help-block"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Last name</label>
                                <input type="text" class="form-control" placeholder="Enter last name" id="new_user_last_name" >
                                <div class="help-block"></div>
                            </div>
                            <!--
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
                                <label class="control-label" >Staff</label>
                                <select class="form-control" id="new_user_is_staff" >
                                    <option value="true" selected >True</option>
                                    <option value="false" >False</option>
                                </select>
                                <div class="help-block"></div>
                            </div>-->
                            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 boolean-select">
                                <label class="control-label" >Active</label>
                                <div class="form-control selected"
                                        onclick="$(this).toggleClass('selected');"
                                        onselectstart="return false"
                                        onmousedown="return false"
                                        style="cursor: pointer;"
                                        id="new_user_is_active"  >
                                    <div class="ico-on fa fa-toggle-on"></div>
                                    <div class="ico-off fa  fa-toggle-off"></div>
                                    <div class="boolean-title" >Boolean value</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>
</script>
