<!-- change password form -->
<script type="text/x-just" data-just="change_password_form">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Change password</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
                <label class="control-label">New password</label>
                <input type="password" class="form-control" placeholder="Enter new password" id="new_password" value="">
                <br>
                <label class="control-label">Confirm password</label>
                <input type="password" class="form-control" placeholder="Enter new password again" id="new_password_confirm" value="">
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="pmUsers.changePassword(<%- item_id %>)">Save</button>
      </div>
    </div>
  </div>
</script>
 
<!-- Форма настройки отображения линий на графике -->
<script type="text/x-just" data-just="chart_line_settings">
    <section class="col-lg-12">
        <div class="box box-info collapsed-box">
            <div class="box-header with-border">
                Dashboard chart lines settings<br>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered" id="chart_line_settings_table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Is active</th>
                        </tr>

                         <% for(var i in pmDashboard.model.ChartLineSettings) {
                            var chartLine = pmDashboard.model.ChartLineSettings[i]; %>
                            <tr rowname="<%= chartLine.name %>">
                                <% if(chartLine.title){ %>
                                    <td><%= chartLine.title %></td>
                                <% } %>
                                <td class="boolean-select" valuename="active">
                                <div class="form-control <% if(chartLine.active){ %> selected <% } %>" onclick="$(this).toggleClass('selected');" onselectstart="return false" onmousedown="return false" style="cursor: pointer;">
                                    <div class="ico-on fa fa-toggle-on"></div>
                                    <div class="ico-off fa  fa-toggle-off"></div>
                                 </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="form-group col-lg-1">
                        <span class="btn btn-primary" onclick="spajs.showLoader(pmDashboard.saveChartLineSettingsFromProfile());  return false;">Save</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>