Source: polemarch
Section: unknown
Priority: optional
Maintainer: VST Consulting <sergey.k@vstconsulting.net>
Build-Depends: debhelper (>= 9), python-virtualenv, python-pip, apache2, apache2-dev, python-dev, gcc, libffi-dev, libssl-dev
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://anonscm.debian.org/collab-maint/polemarch.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/polemarch.git;a=summary

Package: polemarch
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, python-virtualenv, libffi6, libssl-dev, sshpass, libpython2.7
Description: Infrasructure Heat Service for orcestration infrastructure by ansible.
 Infrasructure Heat Service for orcestration infrastructure by ansible.
 Simply WEB gui for orcestration infrastructure by ansible playbooks.
