
.ansible_var{
    color: #f77;
}

.paramTable{

}

.paramTable td{
    padding-bottom: 10px;
    padding-right: 20px;
    min-width: 160px;
    vertical-align: top;
}

.paramTable input{
    width: 236px;
}


/**
 * http://codepen.io/thomasgrant/pen/DgEFd
 * Анимация на ожидание 
 *
 * http://codepen.io/elbitapmoC/pen/ryVXNw
 * http://codepen.io/thomasgrant/pen/DgEFd
 */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    opacity: 0;
}

.in-loading #loader-wrapper {
    display: block;
    opacity: 1;
    animation: appchat_load_success 0.1s;
}

.in-starting #loader-wrapper {
    display: block;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    animation: appchat_load_start 0.3s;
}


/*
.in-start-success #loader-wrapper {
    opacity: 1;
    animation: appchat_load_success 0.5s;
}*/

@keyframes appchat_load_start {
    from { opacity: 0; }
    to { opacity: 0.35; }
}


@keyframes appchat_load_success {
    from { opacity: 0; }
    to { opacity: 0.35; }
}

#loader {
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    display: block;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    -ms-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* CSS для анимации ожидания в стиле ios (http://codepen.io/anon/pen/MmQJbx) */
div.spinner {
    position: relative;
    width: 180px;
    height: 180px;
    display: inline-block;
    margin-left: calc(50% - 90px);
    padding: 10px;
    border-radius: 10px;
}

div.gray.spinner div{
    background: #949393;
}

div.spinner div {
    width: 6%;
    height: 16%;
    background: #FFF;
    position: absolute;
    left: 49%;
    top: 43%;
    opacity: 0;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}

div.spinner div.bar1 {
    -webkit-transform:rotate(0deg) translate(0, -130%);
    -webkit-animation-delay: 0s;
}

div.spinner div.bar2 {
    -webkit-transform:rotate(30deg) translate(0, -130%);
    -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    -webkit-transform:rotate(60deg) translate(0, -130%);
    -webkit-animation-delay: -0.833s;
}
div.spinner div.bar4 {
    -webkit-transform:rotate(90deg) translate(0, -130%);
    -webkit-animation-delay: -0.7497s;
}
div.spinner div.bar5 {
    -webkit-transform:rotate(120deg) translate(0, -130%);
    -webkit-animation-delay: -0.667s;
}
div.spinner div.bar6 {
    -webkit-transform:rotate(150deg) translate(0, -130%);
    -webkit-animation-delay: -0.5837s;
}
div.spinner div.bar7 {
    -webkit-transform:rotate(180deg) translate(0, -130%);
    -webkit-animation-delay: -0.5s;
}
div.spinner div.bar8 {
    -webkit-transform:rotate(210deg) translate(0, -130%);
    -webkit-animation-delay: -0.4167s;
}
div.spinner div.bar9 {
    -webkit-transform:rotate(240deg) translate(0, -130%);
    -webkit-animation-delay: -0.333s;
}
div.spinner div.bar10 {
    -webkit-transform:rotate(270deg) translate(0, -130%);
    -webkit-animation-delay: -0.2497s;
}
div.spinner div.bar11 {
    -webkit-transform:rotate(300deg) translate(0, -130%);
    -webkit-animation-delay: -0.167s;
}
div.spinner div.bar12 {
    -webkit-transform:rotate(330deg) translate(0, -130%);
    -webkit-animation-delay: -0.0833s;
}

.in-starting div.spinner{
    background-color: rgba(0, 0, 0, 0.34);
}

.in-starting div.spinner {
    margin-top: 50%;
}

.in-loading div.spinner {
    margin-top: 50%;
}


.navbar-toggle .icon-bar {
    background: #fff;
}


/* CSS под конкретные платформы */
.for-ios{
    display: none !important;
}

.platform-ios .for-ios{
    display: block !important;
}

.for-android{
    display: none !important;
}

.platform-android .for-android{
    display: block !important;
}

.borderless td, .borderless th {
    border: none;
    border-top: none !important;
}

.multiple-select .selected{
    background-color: rgba(35, 144, 0, 0.15);
}

.multiple-select .selected .ico-on{
    display: block;
}

.multiple-select .selected .ico-off{
    display: none;
}

.multiple-select .ico-on{
    display: none;
    font-size: 24px;
    color: #128200;
}

.multiple-select .ico-off{
    display: block;
    font-size: 24px;
    /* color: #f44;*/
    color: #eee;
}

.boolean-select .selected .ico-on{
    display: inline-block;
    cursor: pointer;
}

.boolean-select .selected .ico-off{
    display: none;
    cursor: pointer;
}

.boolean-select .ico-on{
    display: none;
    font-size: 24px;
    color: #128200;
    cursor: pointer;
}

.boolean-select .ico-off{
    display: inline-block;
    font-size: 24px;
    /* color: #f44;*/
    color: #eee;
    cursor: pointer;
}
.boolean-title{
    display: inline-block;
    position: absolute;
    padding-left: 28px;
    cursor: pointer;
}

table{
    table-layout: fixed;
}

.popover-title{
    color:#000;
}

.popover-content{
    color:#000;
}

.popover-content i{
    color:#ccc;
}

.danger-right{
    float: right;
}



/* https://github.com/Pixabay/JavaScript-autoComplete/blob/master/auto-complete.css */
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.crontabEditor .selected.btn{
    background-color: #3c8dbc;
    color: #fff;
}

.crontabEditor .btn{
    /*background-color: #eee;*/
    min-width: 42px;
}

.popover{
    max-width: none;
    word-wrap: break-word;
}


@media (max-width: 768px) {
    .popover{
        max-width: 720px;
    }
}

@media (max-width: 480px) {
    .popover{
        max-width: 420px;
    }
}

@media (max-width: 320px) {
    .popover{
        max-width: 272px;
    }
}

.textfile{
    position: relative;
}

.textfile .input-file{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.history-status{
    font-weight: bold;
    vertical-align: middle;
}

.history-status-OFFLINE{
    color: #9e9e9e;
}

.history-status-INTERRUPTED{
    color: #9b97e4;
}

.history-status-RUN{
    color: #0085ff;
}

.history-status-ERROR{

}

.history-status-DELAY{
    color: #808419;
}

.history-status-OK{
    color: #276900;
}

.project-status{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.project-status-SYNC{
    color: #f40;
}

.project-status-WAIT_SYNC{
    color: #0085ff;
}

.project-status-OK{
    color: #276900;
}



.stdout-line .S{color:red}/* Строки красные */
.stdout-line .func{color:blue}/* Юзер-функции синие */
.stdout-line .C{color:orange}/* Комменты оранжевые */
.stdout-line .kwrd{font-weight:bold}/* Ключевые слова полужирные */
.stdout-line .R{color:gray} /*Серые регвыражения */
.stdout-line.fatal{
    background: #ffe7e7;
}

.history-stdout{
    overflow: auto;
    max-height: calc(100vh - 338px);
    min-height: 400px;
    background: #fff;
}

@media (min-width: 767px) {
    .history-stdout{
        max-height: calc(100vh - 414px);
    }
}

@media (min-width: 992px) {
    .h1-header{
        display: inline-table;
        max-width: calc(100% - 440px);
    }
}

.error-note{
    color: #ff5252;
}

.item-name{
    word-wrap: break-word;
}

.input-file-holder{

}

.btn-right{
    float: right;
    margin-left: 5px;
}

.resize-options{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}


.history-mode.history-fullsize .history-LeftInfo{
    width: 100%;
}

.history-mode.history-fullsize .history-RightInfo{
    display: none;
}

.history-mode .history-LeftInfo .btn-history-resize .glyphicon-resize-full{
    display: block;
}

.history-mode.history-fullsize .history-LeftInfo .btn-history-resize .glyphicon-resize-full{
    display: none;
}



.history-mode .history-LeftInfo .btn-history-resize .glyphicon-resize-small{
    display: none;
}

.history-mode.history-fullsize .history-LeftInfo .btn-history-resize .glyphicon-resize-small{
    display: block;
}

.top-line-btn{
    margin-bottom: 5px;
}

.cursor-move:hover {
    cursor:move;
}

.handle-class:hover{
    cursor:move;
}

.w-btn {
    padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.w-btn:focus{
    color: #97a0b3;
}

.w-btn:focus ~ .period-list {
    display: none;
}

.w-btn:hover {
    color:#606c84;
}

.clear-input-and-paste {
    float:left;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    border: 1px solid #ccc;
    position:absolute;
    z-index:10;
    right:0px;
    color: #555;
    text-align: center;
}

.clear-input-and-paste:hover {
    color: #fff;
    background-color: #d9534f;
}


.bg-logo {
    background-image: url(/static/img/logo/horizontal.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:150px 40px;
	-o-background-size: 150px 40px;
	-moz-background-size:150px 40px;
	background-size: 150px 40px;
    display: block;
    width:150px;
    height: 40px;
    margin:0px;
    margin-top: 5px;
    float: left;


}

.bg-logo-min {
    background-image: url(/static/img/logo/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:40px 40px;
	-o-background-size: 40px 40px;
	-moz-background-size:40px 40px;
	background-size: 40px 40px;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin:0px;
    margin-top: 5px;
    margin-left: -10px;
}

.logo-span {
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    .bg-logo {
        background-image: url(/static/img/logo/horizontal-bw.png);
    }
    .bg-logo-min {
        background-image: url(/static/img/logo/logo-bw.png);
    }
}
