.pt-enabled, .hook-enable {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #276900;
}

.add-existing-item {
    margin-right: 20px;
}

@media (max-width: 1200px) {

    .add-existing-item {
        margin-right: 0px;
        margin-top: 10px;
    }
}


@media (min-width: 1200px) {
    .readme_content img {
        max-width: 60%;
        width: auto;
    }
}

.td-history-start_time, .td-history-stop_time,
.td-project_history-start_time, .td-project_history-stop_time{
    width:180px;
}

.td-history-status,
.td-project_history-status{
    width: 140px;
}

@media (max-width: 1400px) {
    .td-history-stop_time,
    .td-project_history-stop_time,
    .td-project_periodic_task-schedule,
    .td-project_periodic_task-type {
        display: none;
    }
}

@media (max-width: 1300px) {
    .td-history-kind,
    .td-project_history-kind {
        display: none;
    }
}

@media (max-width: 1200px) {
    .td-history-initiator,
    .td-project_history-initiator,
    .td-history-revision,
    .td-project_history-revision,
    .td-project_periodic_task-template_opt,
    .td-project_periodic_task-template {
        display: none;
    }
}

@media (max-width: 1100px) {
    .td-history-inventory,
    .td-project_history-inventory {
        display: none;
    }
}

@media (max-width: 1000px) {
    .td-history-executor,
    .td-project_history-executor,
    .td-hook-recipients,
    .td-project_periodic_task-inventory {
        display: none;
    }
}

@media (max-width: 900px) {
    .td-project_periodic_task-mode {
        display: none;
    }
}

@media (max-width: 780px) {
    .td-history-project,
    .td-project_history-project,
    .td-hook-when,
    .td-project_template-kind,
    .td-project_periodic_task-kind {
        display: none;
    }
}

@media (max-width: 700px) {
    .td-history-start_time,
    .td-project_history-start_time {
        width: 120px;
    }
}

@media (max-width: 600px) {
    .td-history-start_time,
    .td-project_history-start_time,
    .td-project_template-options_list,
    .td-project_periodic_task-save_result,
    .td-project_module-path {
        display: none;
    }
}

@media (max-width: 480px) {
    .td-hook-type,

    .td-group-children,
    .td-inventory_group-children,
    .td-project_group-children,
    .td-project_inventory_group-children,

    .td-host-type,
    .td-group_host-type,
    .td-inventory_host-type,
    .td-project_host-type,
    .td-project_grouph_host-type,
    .td-project_inventory_host-type,
    .td-project_inventory_group_host-type,
    .td-project_periodic_task-enabled,
    .td-project_playbook-playbook,
    .td-community_template-type {
        display: none;
    }
}

@media (max-width: 480px) {
    .column-history-actions,
    .column-project_history-actions,
    .td-hook-enable {
        display: none;
    }
}

body {
    --history-status-ok: #276900;
    --history-status-error: #dc3545;
    --history-status-interrupted: #9b97e4;
    --history-status-delay: #808419;
    --history-status-offline: #9e9e9e;
    --history-status-run: #0085ff;

    --project-status-new: #8c8c8c;
    --project-status-error: #dc3545;
    --project-status-ok: #276900;
    --project-status-wait-sync: #0085ff;
    --project-status-sync: #ff8c00;

    --chart-legend-text-color: #666666;
    --chart-axes-text-color: #666666;
    --chart-axes-lines-color: efefef;
}


.gui-skin-dark {
    --history-status-ok: #56E401;
    --history-status-error: #F61328;
    --history-status-interrupted: #B68CF3;
    --history-status-delay: #DBEA10;
    --history-status-offline: #90C1C0;
    --history-status-run: #00D7FF;

    --project-status-new: #D48CCA;
    --project-status-error: #F61328;
    --project-status-ok: #56E401;
    --project-status-wait-sync: #00D7FF;
    --project-status-sync: #FF9600;

    --chart-legend-text-color: #cccccc;
    --chart-axes-text-color: #cccccc;
    --chart-axes-lines-color: #bababa;
}


.tr-status-offline .td-history-status,
.tr-status-offline .td-project_history-status,
.field-status-offline {
    color: var(--history-status-offline);
}

.tr-status-interrupted .td-history-status,
.tr-status-interrupted .td-project_history-status,
.field-status-interrupted {
    color: var(--history-status-interrupted);
}

.tr-status-run .td-history-status,
.tr-status-run .td-project_history-status,
.field-status-run {
    color: var(--history-status-run);
}

.tr-status-error .td-history-status,
.tr-status-error .td-project_history-status,
.field-status-error {
    color: var(--history-status-error);
}

.tr-status-delay .td-history-status,
.tr-status-delay .td-project_history-status,
.field-status-delay {
    color: var(--history-status-delay);
}

.tr-status-ok .td-history-status,
.tr-status-ok .td-project_history-status,
.field-status-ok {
    color: var(--history-status-ok);
}

.project-status{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}


.tr-status-sync .td-project-status,
.field-status-sync {
    color: var(--project-status-sync);
}

.tr-status-wait_sync .td-project-status,
.field-status-wait_sync {
    color: var(--project-status-wait-sync);
}

.tr-status-new .td-project-status,
.field-status-new {
    color: var(--project-status-new);
}

.tr-status-error .td-project-status,
.field-status-error {
    color: var(--project-status-error);
}

.tr-status-ok .td-project-status,
.field-status-ok {
    color: var(--project-status-ok);
}

.td-project-status {
    display: none;
    width: 15%;
}

.td-project-type {
    display: none;
    width: 18%;
}

@media (min-width: 767px) {
    .td-project-type {
        display: table-cell;
    }
}

@media (min-width: 600px) {
    .td-project-status {
        display: table-cell;
    }
}

.stdout-line .S{color:red}/* red - lines */
.stdout-line .func{color:blue}/* blue - user-functions */
.stdout-line .C{color:orange}/* comments - orange */
.stdout-line .kwrd{font-weight:bold}/* bold - keywords */
.stdout-line .R{color:gray} /* grey - regexps */
.stdout-line.fatal{
    background: #ffe7e7;
}

.history-stdout{
    overflow: auto;
    max-height: calc(100vh - 338px);
    min-height: 400px;
    background: #000;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal!important;
}

@media (min-width: 767px) {
    .history-stdout{
        max-height: calc(100vh - 414px);
    }
}


.history-mode.history-fullsize .history-LeftInfo{
    width: 100%;
}

.history-mode.history-fullsize .history-RightInfo{
    display: none;
}

.history-mode .history-LeftInfo .btn-history-resize .fa-expand{
    display: block;
}

.history-mode.history-fullsize .history-LeftInfo .btn-history-resize .fa-expand{
    display: none;
}



.history-mode .history-LeftInfo .btn-history-resize .fa-compress{
    display: none;
}

.history-mode.history-fullsize .history-LeftInfo .btn-history-resize .fa-compress{
    display: block;
}


.text-logo {
    margin-left: auto;
    width: 165px;
    float: inherit;
}

.sidebar-collapse .text-logo {
    display: none;
}

.sidebar-collapse .main-sidebar:hover .text-logo {
    display: inline-block;
}



#menu-system-hooks {
    display: none;
}

#RealBody.is_superuser #menu-system-hooks,
#RealBody.is_staff #menu-system-hooks {
    display: block;
}

@media (max-width: 452px) {
    #period-list {
        width: 100%!important;
        margin-top: 10px;
    }

}

.chart-period-select {
    max-width: 145px;
    height: 30px!important;
    line-height: 30px;
    padding: 3px 12px;
    display: inline-block;
    float: left;
}

.guifield-one_history_boolean .boolean-true, .guifield-one_history_boolean .boolean-false{
    font-size: 24px;
}

.guifield-one_history_boolean .boolean-true {
    color: var(--boolean-true-color);
}

.guifield-one_history_boolean .boolean-false {
    color: var(--boolean-false-color);
}

.clear-btn {
    float: right;
    margin-top: 0px;
}

.clear-btn-title {
    display: none;
}