.add-existing-item {
    margin-right: 20px;
}



@media (max-width: 1200px) {

    .add-existing-item {
        margin-right: 0px;
        margin-top: 10px;
    }

    .pagination:first-child {
        margin-right: -20px!important;
        margin-top: 10px!important;
    }
}