.pt-enabled, .hook-enable {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #276900;
}

.add-existing-item {
    margin-right: 20px;
}

@media (max-width: 1200px) {

    .add-existing-item {
        margin-right: 0px;
        margin-top: 10px;
    }

    .pagination:first-child {
        margin-right: -20px!important;
        margin-top: 10px!important;
    }
}


@media (min-width: 1200px) {
    .readme_content img {
        max-width: 60%;
        width: auto;
    }
}

.td_history_start_time, .td_history_stop_time,
.td_project-history_start_time, .td_project-history_stop_time{
    width:150px;
}

.td_history_status,
.td_project-history_status {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    max-width: 110px;
}

@media (max-width: 1200px) {
    .td_history_stop_time,
    .td_project-history_stop_time {
        display: none;
    }
}

@media (max-width: 1100px) {
    .td_history_mode,
    .td_project-history_mode {
        display: none;
    }
}

@media (max-width: 1050px) {
    .td_history_initiator,
    .td_project-history_initiator,
    .td_history_revision,
    .td_project-history_revision {
        display: none;
    }
}

@media (max-width: 1000px) {
    .td_history_inventory,
    .td_project-history_inventory {
        display: none;
    }
}

@media (max-width: 850px) {
    .td_history_executor,
    .td_project-history_executor {
        display: none;
    }
}

@media (max-width: 660px) {
    .td_history_project,
    .td_project-history_project {
        display: none;
    }
}

@media (max-width: 550px) {
    .td_history_kind,
    .td_project-history_kind {
        display: none;
    }
}

@media (max-width: 480px) {
    .td_history_start_time,
    .td_project-history_start_time {
        width: 70px;
    }
}

.tr_status_OFFLINE .td_history_status,
.tr_status_OFFLINE .td_project-history_status {
    color: #9e9e9e;
}

.tr_status_INTERRUPTED .td_history_status,
.tr_status_INTERRUPTED .td_project-history_status {
    color: #9b97e4;
}

.tr_status_RUN .td_history_status,
.tr_status_RUN .td_project-history_status {
    color: #0085ff;
}

.tr_status_ERROR .td_history_status,
.tr_status_ERROR .td_project-history_status {

}

.tr_status_DELAY .td_history_status,
.tr_status_DELAY .td_project-history_status {
    color: #808419;
}

.tr_status_OK .td_history_status,
.tr_status_OK .td_project-history_status {
    color: #276900;
}

.project-status{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.project-status-SYNC{
    color: #f40;
}

.project-status-WAIT_SYNC{
    color: #0085ff;
}

.project-status-OK{
    color: #276900;
}



.stdout-line .S{color:red}/* Строки красные */
.stdout-line .func{color:blue}/* Юзер-функции синие */
.stdout-line .C{color:orange}/* Комменты оранжевые */
.stdout-line .kwrd{font-weight:bold}/* Ключевые слова полужирные */
.stdout-line .R{color:gray} /*Серые регвыражения */
.stdout-line.fatal{
    background: #ffe7e7;
}

.history-stdout{
    overflow: auto;
    max-height: calc(100vh - 338px);
    min-height: 400px;
    line-height: 1;
    background: #000;
}

@media (min-width: 767px) {
    .history-stdout{
        max-height: calc(100vh - 414px);
    }
}


.history-mode.history-fullsize .history-LeftInfo{
    width: 100%;
}

.history-mode.history-fullsize .history-RightInfo{
    display: none;
}

.history-mode .history-LeftInfo .btn-history-resize .glyphicon-resize-full{
    display: block;
}

.history-mode.history-fullsize .history-LeftInfo .btn-history-resize .glyphicon-resize-full{
    display: none;
}



.history-mode .history-LeftInfo .btn-history-resize .glyphicon-resize-small{
    display: none;
}

.history-mode.history-fullsize .history-LeftInfo .btn-history-resize .glyphicon-resize-small{
    display: block;
}


.bg-logo {
    background-image: url(/static/img/logo/horizontal.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:150px 40px;
    -o-background-size: 150px 40px;
    -moz-background-size:150px 40px;
    background-size: 150px 40px;
    display: block;
    width:150px;
    height: 40px;
    margin:0px;
    margin-top: 5px;
    float: left;


}

.bg-logo {
    display: block;
    width:160px;
}
  
#menu-system-hooks {
    display: none;
}

#RealBody.is_superuser #menu-system-hooks,
#RealBody.is_staff #menu-system-hooks {
    display: block;
}

