.list-Periodictask {
    @media (max-width: 600px) {
        .column-save_result {
            display: none;
        }
    }
    @media (max-width: 1000px) {
        .column-kind {
            display: none;
        }
    }
    @media (max-width: 1200px) {
        .column-type {
            display: none;
        }
    }
    @media (max-width: 1400px) {
        .column-schedule {
            display: none;
        }
    }
}
