.list-Project {
    @media (max-width: 1000px) {
        .column-status {
            display: none;
        }
        .column-name {
            max-width: 240px;
        }
    }
    @media (max-width: 1400px) {
        .column-type {
            display: none;
        }
    }
}
