{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}

      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      {% endblock %}

      <title>{% block title %}{% if name %}{{ name }} – {% endif %}Polemarch Dashboard{% endblock %}</title>

      {% block pmInlineScripts %}
      
        <script type="text/javascript">
            var hostname = window.location.host;
            var server_status_types = '{{server_status_types|safe}}';

            var polemarch_version = '{{polemarch_version}}';
            
            {% if user.is_authenticated %}
                var my_user_id = '{{user.id}}' 
            {% else %}
                var my_user_id = undefined
            {% endif %}
             
            {% if user.is_authenticated %}
                var is_authenticated = true
            {% else %}
                var is_authenticated = false
            {% endif %}

            {% if user.is_superuser %}
                var is_superuser = true
                var is_staff = true
            {% else %} 
                {% if user.is_staff %}
                    var is_superuser = true
                    var is_staff = true
                {% else %}
                    var is_superuser = false
                    var is_staff = false
                {% endif %}
            {% endif %}
            
            window.pmStaticPath = "{% static '' %}";
            window.isDebug = {% if debug %}true{% else %}false{% endif %}
            window.timeZone = '{{timezone}}';
            
        </script>
         
      {% endblock %}
      
      {% block style %}

        {% block bootstrap_theme %} 
        {% endblock %}  

        <link rel="shortcut icon" href="{% static 'img/logo/favicon.ico' %}?v={{polemarch_version}}" />
        <link href="{% static 'plugins/select2/select2.min.css' %}?v={{polemarch_version}}" rel="stylesheet" />



        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}?v={{polemarch_version}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'lte/css/font-awesome.min.css' %}?v={{polemarch_version}}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static 'lte/css/ionicons.min.css' %}?v={{polemarch_version}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'lte/css/AdminLTE.min.css' %}?v={{polemarch_version}}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{% static 'lte/css/skins/_all-skins.min.css' %}?v={{polemarch_version}}">
         
        <link rel="stylesheet" href="{% static 'js/libs/c3/c3.min.css' %}?v={{polemarch_version}}">
        
        <link rel="stylesheet" href="{% static 'css/gui.css' %}?v={{polemarch_version}}">

        <link rel="stylesheet" href="{% static 'css/ansi-colors.css' %}?v={{polemarch_version}}">
        
        {% block custom_style %}
        {% endblock %}
      {% endblock %}

      {% block commonScripts %}
      
        <!-- jQuery 2.2.3 -->
        <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}?v={{polemarch_version}}"></script>
        <script src="{% static 'js/libs/notify.js' %}?v={{polemarch_version}}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script defer src="{% static 'bootstrap/js/bootstrap.min.js' %}?v={{polemarch_version}}"></script>
        <!-- FastClick -->
        <script defer src="{% static 'plugins/fastclick/fastclick.min.js' %}?v={{polemarch_version}}"></script>
        <!-- AdminLTE App -->
        <script defer src="{% static 'js/app.js' %}?v={{polemarch_version}}"></script>
        
      {% endblock %}
      
      {% block pmScripts %}{% endblock %}
    {% endblock %}
  </head>

{% block body %}
    <body class="hold-transition skin-black-light sidebar-mini {% block bodyclass %}{% endblock %}"> 
        
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    
    {% block navbar %}
        <div class="wrapper" >
            <header class="main-header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <!-- <span class="logo-mini"><b>P</b></span> -->
                    <span class="logo-mini"><span class="bg-logo-min" style="margin-left: 4px;"></span></span>
                    <!-- logo for regular state and mobile devices -->
                    <!-- <span class="logo-lg"><b>P</b>olemarch</span> -->
                    <span class="logo-lg logo-span"><span class="bg-logo-min"></span> <span class="bg-logo"></span></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav"> 
                            {% include "menu.html" %} 
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less --> 
                <section class="sidebar">  
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        {% block left_menu %}
                            {% include "left_menu.html" %}
                        {% endblock %} 
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" id='spajs-right-area'>
                <!-- Main content -->
                {% block content %}{% endblock %}
            </div>
            
            {% block footer %}
                <footer class="main-footer">
                    <div class="pull-right" style="float: right;    padding-left: 15px;    display: inline-block;">
                        <div class="btn-group" role="group">
                            <a type="button" style="box-shadow:none;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#" onclick="return false;">
                                <span class="glyphicon glyphicon-question-sign"></span> Help 
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" style=" bottom:100% !important; top:auto !important; ">
                                <li>
                                    <a href="https://gitlab.com/vstconsulting/polemarch/issues/new?issuable_template%5D=Ask&issue%5Btitle%5D=Ask%20about%20version%20{{polemarch_version}}" target="_blank">Ask question</a>
                                </li>
                                <li>
                                    <a href="https://gitlab.com/vstconsulting/polemarch/issues/new?issuable_template%5D=Bug&issue%5Btitle%5D=Bug%20in%20version%20{{polemarch_version}}" target="_blank">Add bug</a>
                                </li>
                                <li>
                                    <a href="https://gitlab.com/vstconsulting/polemarch/issues/new?issuable_template%5D=Feature%20request&issue%5Btitle%5D=" target="_blank">Add feature request</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="https://gitlab.com/vstconsulting/polemarch" target="_blank">Official repository</a>
                                </li>
                                <li>
                                    <a href="http://polemarch.readthedocs.io" target="_blank">Official documentation</a>
                                </li>
                                <li>
                                    <a href="https://gitlab.com/vstconsulting/polemarch/issues" target="_blank">Issues</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="pull-right hidden-xs">
                        <b>Version</b> {{polemarch_version}}
                    </div>

                    {% if debug %} 
                        <div class="pull-right hidden-xs">
                            <b><a href="#" 
                                  style="color:#ccc;" 
                                  onclick="loadQUnitTests(); return false;" >Test qUnit</a></b>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                    {% endif %}
                    <br>
                </footer>
            {% endblock %}
        </div>
    {% endblock %} 
    {% block script %}{% endblock %}
    </body>
{% endblock %}
</html>
