<li class="header">MAIN NAVIGATION</li>

<li id="menu-home"><a href="/"  onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> <span class="li-header-span">Home</span></a></li>
<li class="treeview" id="menu-projects">
    <a href="#">
        <i class="glyphicon glyphicon-blackboard"></i> <span class="li-header-span">Projects</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li id="menu-projects-projects"><a href="/?projects"  onclick="return spajs.openURL(this.href);" ><!--<i class="glyphicon glyphicon-list"></i> --> <span>Projects</span></a></li>
        <li id="menu-projects-templates"><a href="/?templates"  onclick="return spajs.openURL(this.href);" ><!--<i class="glyphicon glyphicon-cog"></i> --><span>Templates</span></a></li>
    </ul>
</li>
<li class="treeview" id="menu-inventories">
    <a href="#">
        <i class="fa fa-folder"></i> <span class="li-header-span">Inventories</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li id="menu-inventories-inventories"><a href="/?inventories"  onclick="return spajs.openURL(this.href);" ><!--<i class="glyphicon glyphicon-th"></i> --> <span>Inventories</span></a></li>
        <li id="menu-inventories-groups"><a href="/?groups"  onclick="return spajs.openURL(this.href);" ><!--<i class="glyphicon glyphicon-th-large"></i> --> <span>Groups</span></a></li>
        <li id="menu-inventories-hosts"><a href="/?hosts"  onclick="return spajs.openURL(this.href);" ><!--<i class="glyphicon glyphicon-tasks"></i> --> <span>Hosts</span></a></li>
    </ul>
</li>


<li id="menu-history"><a href="/?history"  onclick="return spajs.openURL(this.href);" ><i class="glyphicon glyphicon-calendar"></i> <span class="li-header-span">History</span></a></li>
<li id="menu-users"><a href="/?users"  onclick="return spajs.openURL(this.href);" ><i class="fa fa-user"></i> <span class="li-header-span">Users</span></a></li>
<li id="menu-docs"><a href="/docs/index.html"><i class="fa fa-book"></i> <span class="li-header-span">Documentation</span></a></li>

<script>
    function setActiveMenuLiBase()
    {
        if(/\?projects/.test(window.location.href) || /\?project/.test(window.location.href) ||
            /\?new-project/.test(window.location.href))
        {
            $("#menu-projects").addClass("active active-li");
            $("#menu-projects-projects").addClass("active-bold");
        }
        else if(/\?templates/.test(window.location.href) ||
            /\?template/.test(window.location.href))
        {
            $("#menu-projects").addClass("active active-li");
            $("#menu-projects-templates").addClass("active-bold");
        }
        else if(/\?hosts/.test(window.location.href) || /\?host/.test(window.location.href) ||
            /\?new-host/.test(window.location.href))
        {
            $("#menu-inventories").addClass("active active-li");
            $("#menu-inventories-hosts").addClass("active-bold");
        }
        else if(/\?new-group/.test(window.location.href) || /\?groups/.test(window.location.href) ||
            /\?group/.test(window.location.href))
        {
            $("#menu-inventories").addClass("active active-li");
            $("#menu-inventories-groups").addClass("active-bold");
        }
        else if(/\?inventories/.test(window.location.href) || /\?inventory/.test(window.location.href) ||
            /\?new-inventory/.test(window.location.href))
        {
            $("#menu-inventories").addClass("active active-li");
            $("#menu-inventories-inventories").addClass("active-bold");
        }
        else if(/\?history/.test(window.location.href)){

            $("#menu-history").addClass("active active-li");
        }
        else if(/\?users/.test(window.location.href) || /\?user/.test(window.location.href) ||
            /\?new-user/.test(window.location.href) || /\?profile/.test(window.location.href))
        {
            $("#menu-users").addClass("active active-li");
        }
        else
        {
            $("#menu-home").addClass("active active-li");
        }
    }
    function setActiveMenuLi()
    {
        if($('li').is('.active-li'))
        {
            var t=$(".active-li")[0];
            $(t).removeClass("active");
            $(t).removeClass("active-li");
        }

        if($('li').is(".treeview"))
        {
            var s=$(".treeview");
            for(var i=0; i<s.length; i++)
            {
                $(s).removeClass("active");
            }

            if($('ul').is('.treeview-menu'))
            {
                var s1=$(".treeview-menu");
                for(var i=0; i<s1.length; i++)
                {
                    $(s1).removeClass("menu-open");
                    $(s1).attr("style", "");
                }
            }
        }

        if($('li').is('.active-bold'))
        {
            var g=$(".active-bold");
            for(var i=0; i<g.length; i++)
            {
                $(g).removeClass("active-bold");
            }
        }

        return setActiveMenuLiBase();
    }
    setActiveMenuLiBase();
</script>
<!--
<li>
    <a href="pages/widgets.html">
        <i class="fa fa-th"></i> <span>Widgets</span>
        <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
        </span>
    </a>
</li> 
<li>
    <a href="pages/calendar.html">
        <i class="fa fa-calendar"></i> <span>Calendar</span>
        <span class="pull-right-container">
            <small class="label pull-right bg-red">3</small>
            <small class="label pull-right bg-blue">17</small>
        </span>
    </a>
</li>
<li>
    <a href="pages/mailbox/mailbox.html">
        <i class="fa fa-envelope"></i> <span>Mailbox</span>
        <span class="pull-right-container">
            <small class="label pull-right bg-yellow">12</small>
            <small class="label pull-right bg-green">16</small>
            <small class="label pull-right bg-red">5</small>
        </span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-share"></i> <span>Multilevel</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        <li>
            <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Level Two
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
    </ul>
</li>


<li class="header">LABELS</li>
<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->