{% extends "gui/base.html" %}
{% load request_static %}
{% load i18n %}

{% block logo %}
    <a href="/" class="logo app-logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- <span class="logo-mini"><b>P</b></span> -->
        <span class="logo-mini"><span class="bg-logo-min" style="margin-left: 4px;"></span></span>
        <!-- logo for regular state and mobile devices -->
        <!-- <span class="logo-lg"><b>P</b>olemarch</span> -->
        <span class="logo-lg logo-span"><span class="bg-logo-min"></span> <span class="bg-logo"></span></span>
    </a>
{% endblock %}

{% block common_sciprt %}
<script type="text/javascript">
window.resourceList = window.resourceList.concat([
    { prioritet:200, type:'tpl', name: "{% static '/' %}templates/pmProject.html?v={{gui_version}}"},
    { prioritet:200, type:'tpl', name: "{% static '/' %}templates/pmHistory.html?v={{gui_version}}"},
    { prioritet:200, type:'tpl', name: "{% static '/' %}templates/pmUsers.html?v={{gui_version}}"},
    { prioritet:200, type:'tpl', name: "{% static '/' %}templates/pmDashboard.html?v={{gui_version}}"},
    { prioritet:200, type:'tpl', name: "{% static '/' %}templates/pmTasksTemplates.html?v={{gui_version}}"},

    { prioritet:110, type:'js', name: "{% static 'js/libs/c3/d3.min.js' %}?v={{gui_version}}"},
    { prioritet:110, type:'js', name: "{% static 'js/libs/c3/c3.min.js' %}?v={{gui_version}}"},

    { prioritet:150, type:'js', name: "{% static 'js/libs/ansi_up.js' %}?v={{gui_version}}"},
    { prioritet:150, type:'js', name: "{% static 'js/libs/Sortable.min.js' %}?v={{gui_version}}"},

    { prioritet:160, type:'js', name: "{% static 'js/common.js' %}?v={{gui_version}}"},
    { prioritet:160, type:'js', name: "{% static 'js/hardcoder.js' %}?v={{gui_version}}"},
    { prioritet:183, type:'js', name: "{% static 'js/pmUsers.js' %}?v={{gui_version}}"},
    { prioritet:184, type:'js', name: "{% static 'js/pmGroups.js' %}?v={{gui_version}}"},
    { prioritet:185, type:'js', name: "{% static 'js/pmInventories.js' %}?v={{gui_version}}"},
    { prioritet:186, type:'js', name: "{% static 'js/pmProjects.js' %}?v={{gui_version}}"},
    { prioritet:188, type:'js', name: "{% static 'js/pmPeriodicTasks.js' %}?v={{gui_version}}"},
    { prioritet:189, type:'js', name: "{% static 'js/pmHistory.js' %}?v={{gui_version}}"},
    { prioritet:190, type:'js', name: "{% static 'js/pmTemplates.js' %}?v={{gui_version}}"},
    { prioritet:400, type:'js', name: "{% static 'js/pmDashboard.js' %}?v={{gui_version}}"},
    { prioritet:300, type:'js', name: "{% static 'js/guiForApp.js' %}?v={{gui_version}}"},

    { prioritet:107, type:'css', name: "{% static 'js/libs/c3/c3.min.css' %}?v={{gui_version}}"},

    { prioritet:200, type:'css', name: "{% static 'css/polemarch-gui.css' %}?v={{gui_version}}"},
    { prioritet:200, type:'css', name: "{% static 'css/ansi-colors.css' %}?v={{gui_version}}"},
])
</script>
{% endblock %}

{% block script %}
{% endblock %}
