{% block sidebar_menu %}
    <li class="header">MAIN NAVIGATION</li>

    <li id="menu-home"><a href="/" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> <span class="li-header-span"><i class="li-header-span-i">Home</i></span></a></li>
    <li class="pm-treeview" id="menu-projects">
        <a href="/?projects" onclick="return spajs.openURL(this.href);">
            <i class="glyphicon glyphicon-blackboard"></i> <span class="li-header-span"><i class="li-header-span-i">Projects</i></span>
        </a>
        <span class="open-pm-treeview-button">
            <i class="fa fa-angle-left"></i>
        </span>
        <ul class="pm-treeview-menu">
            <li class="group-header-copy" id="menu-projects-projects"><a href="/?projects" onclick="return spajs.openURL(this.href);" ><span>Projects</span></a></li>
            <li id="menu-projects-templates"><a href="/?templates" onclick="return spajs.openURL(this.href);" ><span>Templates</span></a></li>
        </ul>
    </li>
    <li class="pm-treeview" id="menu-inventories">
        <a href="/?inventories" onclick="return spajs.openURL(this.href);">
            <i class="fa fa-folder"></i> <span class="li-header-span"><i class="li-header-span-i">Inventories</i></span>
        </a>
        <span class="open-pm-treeview-button">
            <i class="fa fa-angle-left"></i>
        </span>
        <ul class="pm-treeview-menu">
            <li class="group-header-copy" id="menu-inventories-inventories"><a href="/?inventories" onclick="return spajs.openURL(this.href);" ><span>Inventories</span></a></li>
            <li id="menu-inventories-groups"><a href="/?groups" onclick="return spajs.openURL(this.href);" ><span>Groups</span></a></li>
            <li id="menu-inventories-hosts"><a href="/?hosts" onclick="return spajs.openURL(this.href);" ><span>Hosts</span></a></li>
        </ul>
    </li>


    <li id="menu-history"><a href="/?history" onclick="return spajs.openURL(this.href);" ><i class="glyphicon glyphicon-calendar"></i> <span class="li-header-span"><i class="li-header-span-i">History</i></span></a></li>

    <li class="pm-treeview" id="menu-system">
        <a href="/?users" onclick="return spajs.openURL(this.href);">
            <i class="glyphicon glyphicon-cog"></i> <span class="li-header-span"><i class="li-header-span-i">System</i></span>
        </a>
        <span class="open-pm-treeview-button">
            <i class="fa fa-angle-left"></i>
        </span>
        <ul class="pm-treeview-menu">
            <li class="group-header-copy" id="menu-system-default"><a href="/?users" onclick="return spajs.openURL(this.href);" ><span>System</span></a></li>
            <li id="menu-system-users"><a href="/?users" onclick="return spajs.openURL(this.href);" ><span>Users</span></a></li>
            {% if user.is_staff %}
                <li id="menu-system-hooks"><a href="/?hooks" onclick="return spajs.openURL(this.href);" ><span>Hooks</span></a></li>
            {% endif %}

        </ul>
    </li>

    {% if has_docs %}
        <li id="menu-docs">
            <a href={% block doc_link %}"{{host_url}}/docs/index.html"{% endblock %}
               onclick=" return openURLInAppBrowser(this.href); ">
               <i class="fa fa-book"></i> <span class="li-header-span"><i class="li-header-span-i">Documentation</i></span>
            </a>
        </li>
    {% endif %}
{% endblock %}
