@import url(bootstrap/css/bootstrap.css);
@import url(bootstrap/css/bootstrap-theme.css);
@import url(css/alt/AdminLTE-bootstrap-social.css);
@import url(css/alt/AdminLTE-fullcalendar.css);
@import url(css/alt/AdminLTE-select2.css);
@import url(css/alt/AdminLTE-without-plugins.css);
@import url(css/AdminLTE.css);
@import url(css/ansi-colors.css);
@import url(css/font-awesome.min.css);
/*@import url(/polemarch/static/css/gui.css);*/
@import url(css/ionicons.min.css);
@import url(bootstrap/fonts/glyphicons-halflings-regular.eot);
@import url(bootstrap/fonts/glyphicons-halflings-regular.svg);
@import url(bootstrap/fonts/glyphicons-halflings-regular.ttf);
@import url(bootstrap/fonts/glyphicons-halflings-regular.woff);
@import url(bootstrap/fonts/glyphicons-halflings-regular.woff2);

@import url(css/skins/_all-skins.css);
@import url(css/skins/skin-blue.css);
@import url(css/skins/skin-blue-light.css);

.sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sidebar-menu ul li {
    margin: 0;
    padding: 0;
}

.sidebar-menu ul li  a
{
    font-weight: 600;
    display:block;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:15px;
}

.sidebar-menu .caption {
    display: none;
}

.sidebar-menu ul li  a:hover
{
    background-color: #f4f4f5;
}

.sidebar-menu ul li ul {
    margin: 0;
}


.sidebar-menu ul li ul li a
{
    font-weight: 500;
    display:block;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:35px;
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: normal!important;
    overflow: visible!important;
}

.headerlink {
    opacity:0;
}

.headerlink:hover {
    opacity:1;
}

img {
    width: 100%;
}

@media (min-width: 992px) {
    img {
        max-width: 650px;
    }
}

.section h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 22px;
}

.section h2 {
    font-size: 22px;
}

.highlight pre {
    background-color: #f7f7f9;
}

.highlight pre p {
    color: #333;
}

.highlight .mi {
    color: #208050;
}

.highlight .s2 {
    /* color: #4070a0;*/
    color: #D14;
}

.highlight .kc {
    color: #000081;
}

.highlight .nf,
.highlight .na {
    font-weight: bold;
}

.highlight .l,
.highlight .nn,
.highlight .kr,
.highlight .m {
    color: #195f91;
}

.sidebar-collapse .wrapper .main-sidebar .sidebar
{
    opacity:0;
}

.sidebar h3, .sidebar p {
    padding-left:15px;
    color: #444444;
    font-size: 15px;
    font-weight: 600;
}

.sidebar h3 {
    margin-top:20px;
}

#search-documentation, #search-results h2{
    font-size: 22px;
}

#search-documentation {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom:7px;
    border-bottom: 1px solid #eee;
}

#searchbox h3 {
    font-weight: 600;
    display:block;
    padding-left:15px;
    color: #444444;
    font-size: 15px;
}

#search-results h2:first-child {
    display: none;
}

.search-input-pm {
    float:left;
    border:1px solid #d2d6de;
    height: 26px;
}

#big-search-input-pm {
    width: 300px;
}

.search-button-wrapper {
    position:relative;
    float:left;
    height: 26px;
    width:30px;
    border: 1px solid #d2d6de;
    border-left:none;
    background-color: #fff;
}

.search-button-icon {
    position:absolute;
    left: 7px;
    top:5px;
}

.search-button-input {
    height: 26px;
    width:30px;
    opacity:0;
    z-index:10;
}

form.search {
    padding-left:15px;
}

.bg-logo-doc {
    background-image: url(img/logo/horizontal.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:150px 40px;
	-o-background-size: 150px 40px;
	-moz-background-size:150px 40px;
	background-size: 150px 40px;
    display: block;
    width:150px;
    height: 40px;
    margin:0px;
    margin-top: 5px;
    float: left;


}

.bg-logo-min-doc {
    background-image: url(img/logo/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:40px 40px;
	-o-background-size: 40px 40px;
	-moz-background-size:40px 40px;
	background-size: 40px 40px;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin:0px;
    margin-top: 5px;
    margin-left: -10px;
}

.logo-span-doc {
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}

.fork-me img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width:130px;
    height:130px;
    z-index:2000;
}

@media (max-width: 767px) {
    .bg-logo-doc {
        background-image: url(img/logo/horizontal-bw.png);
    }
    .bg-logo-min-doc {
        background-image: url(img/logo/logo-bw.png);
    }
    .fork-me img {
         width:112px;
         height:112px;
    }

    #big-search-input-pm {
        width: 150px;
    }
}
